{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<script src="js/jquery.min.js" type="text/javascript"></script>

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading" id="formheading">
                                            <span>Update</span>  Account  
                                        </div>
                                        <div class="panel-body">
                                            {{!-- method="POST" action="/account_mast/amast_add" --}}
                                         <form  enctype="" id="accountMast" class="validate">
                                        {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Ac. Code: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_code" placeholder="A/C Code" value="{{a_mast.ACCode}}"
                                                            name="ac_code" value="" type="text" autofocus>
                                                        <input type="hidden" name="GaruEntryModel" id="GaruEntryModel" value="AccountForm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                 <div class="form-group  form-md-line-input clearfix">
                                                   <label for="" class="control-label col-md-3">Name:</label>
                                                        <div class="col-md-9">
                                                       <input class="form-control ac_name" required placeholder="Name" value="{{a_mast.ACName}}"
                                                            name="ac_name" value="" type="text" />
                                                             <input class="form-control vhpxaccount"  value="{{a_mast._id}}" name='vhpxaccount' id="vhpxaccount" type="hidden"/>
                                                        </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label onclick="addGroup()" class="control-label col-md-3" style="cursor: pointer;text-decoration: underline;">Group Name: </label>
                                                    <div class="col-md-9">
                                                       <select class="form-control prbank ac_groupname group"  required name="ac_groupname" 
                                                        id="ac_groupname" placeholder="Select group" onchange="checkAddressdetailes()">
                                                            <option value=""></option>
                                                            <option value="{{a_mast.GroupName._id}}" selected>{{a_mast.GroupName.GroupName}}</option>
                                                            {{!-- {{#each g_mast}}
                                                            <option value="{{this._id}}">{{this.GroupName}}</option>
                                                            {{/each}} --}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                   <label for="" class="control-label col-md-3">Op Bal:</label>
                                                        <div class="col-md-5">
                                                       <input class="form-control ac_opbal" placeholder="Op Bal"
                                                            name="ac_opbal" value="" id="ac_opbal" type="text">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control prbank  ac_open_type select2"  name="ac_open_type" id="ac_open_type" placeholder="Select" >
                                                                <option value=""></option>
                                                                <option value="Debit" selected="Debit">Debit</option>
                                                                <option value="Credit">Credit</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                            </div>


                                            <div class="col-sm-12 col-md-6" id="ac_broker_Code">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="control-label col-md-3" >Broker Code</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group select2-bootstrap-prepend">
                                                            <select class="form-control broker_Code" name="broker_Code" id="broker_Code"
                                                                placeholder="Please Select Broker" onchange="CreatSaleNarration()">
                                                                <option value="{{a_mast.broker_Code._id}}" selected>{{a_mast.broker_Code.ACName}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_sl_Person">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="control-label col-md-3" >SL Person</label>
                                                    <div class="col-md-9">
                                                        <div class="input-group select2-bootstrap-prepend">
                                                        <select class="form-control sl_Person" name="sl_Person" id="sl_Person"
                                                            placeholder="Please Select SL Person">
                                                            <option value="{{a_mast.sl_Person._id}}">{{a_mast.sl_Person.ACName}}</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6" id="ac_areahide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Area: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_area" placeholder="Area"
                                                            name="ac_area" id="ac_area" value="{{a_mast.Area}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_add1hide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Address:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_add1" placeholder="Address"
                                                            name="ac_add1" id="ac_add1" value="{{a_mast.Address1}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                             {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6" id="ac_add2hide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Address2:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_add2" placeholder="Address"
                                                            name="ac_add2" id="ac_add2" type="text" value="{{a_mast.ac_add2}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_cityhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label onclick="addCity()" class="control-label col-md-3" style="cursor: pointer;text-decoration: underline;">City: </label>
                                                    <div class="col-md-9">
                                                        <select class="form-control prbank ac_city city" required name="ac_city" 
                                                            id="ac_city" placeholder="Select city" onchange="getCityData()">
                                                        <option value="{{a_mast.CityName._id}}" selected>{{a_mast.CityName.CityName}}</option>
                                                                    {{!-- {{#each city}}
                                                                   <option value="{{this._id}}">{{this.CityName}}</option>
                                                                   {{/each}} --}}
                                                        </select>
                                                      </div>
                                                 </div>
                                            </div>   
                                        {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                             <div class="col-sm-12 col-md-6" id="ac_statehide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label onclick="addState()" class="control-label col-md-3" style="cursor: pointer;text-decoration: underline;">State:</label>
                                                    <div class="col-md-9">
                                                     <select class="form-control prbank ac_state state" name="ac_state" 
                                                                        id="ac_state" placeholder="Select state">
                                                                    <option value="{{a_mast.StateName._id}}">{{a_mast.StateName.StateName}}</option>
                                                                    {{!-- {{#each state_master}}
                                                                   <option value="{{this._id}}">{{this.StateName}}</option>
                                                                 {{/each}} --}}
                                                            </select>  
                                                            <input type="hidden" name="StateCode" id="StateCode">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_pincodehide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Pin Code: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_cst" placeholder="Pin Code"
                                                            name="ac_pincode" id="ac_pincode" value="{{a_mast.ac_pincode}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_ptypehide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Party Type: </label>
                                                    <div class="col-md-9">
                                                        <select class="form-control prbank ac_ptype partytype" name="ac_ptype" 
                                                            id="ac_ptype" placeholder="Select party type" required>
                                                            <option value="{{a_mast.PartyType._id}}">{{a_mast.PartyType.Description}}</option>
                                                            {{!-- {{#each ptyp_mast}}
                                                            <option value="{{this._id}}">{{this.Description}}</option>
                                                            {{/each}} --}}
                                                        </select>   
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6" id="ac_panhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">PAN No:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_pan" placeholder="PAN No"
                                                            name="ac_pan" id="ac_pan" value="{{a_mast.PanNumber}}" type="text" oninput="GenGstNo()">
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-sm-6 col-md-6" id="ac_intrestperhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                   <label for="" class="control-label col-md-3">GSTIN:</label>
                                                        <div class="col-md-5">
                                                       <input class="form-control ac_gstin" placeholder="GSTIN"
                                                            name="ac_gstin" id="ac_gstin" value="{{a_mast.GSTIN}}" type="text">
                                                        </div>
                                                        <label for="" class="control-label col-md-2">Int %</label>
                                                         <div class="col-md-2">
                                                        <input class="form-control ac_intrestper" placeholder="Interest %"
                                                            name="ac_intrestper" id="ac_intrestper" value="{{a_mast.GSTIN}}" type="text">
                                                     </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                        {{!-- <div class="row">  --}}
                                            
                                             <div class="col-sm-12 col-md-6" id="ac_taxnmhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Tax Name: </label>
                                                    <div class="col-md-9">
                                                      <select class="form-control prbank ac_taxnm tax_mast" name="ac_taxnm" 
                                                            id="ac_taxnm" placeholder="Tax Name">
                                                        <option value="{{a_mast.ac_taxnm._id}}">{{a_mast.ac_taxnm.tx_Thead}}</option>
                                                        {{!-- {{#each tax_mast}}
                                                        <option value="{{this._id}}">{{this.tx_Thead}}</option>
                                                        {{/each}} --}}
                                                    </select>   
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                         {{!-- <div class="row"> --}}
                                              <div class="col-sm-12 col-md-6" id="ac_crelimithide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Credit Limit:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_crelimit" placeholder="Credit Limit"
                                                            name="ac_crelimit" id="ac_crelimit" value="{{a_mast.CrLimit}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-sm-12 col-md-6" id="ac_creditdyshide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Credit Days:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_creditdys" placeholder="Credit Days"
                                                            name="ac_creditdys" id="ac_creditdys" value="{{a_mast.ac_creditdys}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                         {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6" id="ac_iecnohide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">IEC NO: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_iecno" placeholder="IEC NO"
                                                            name="ac_iecno" id="ac_iecno" value="{{a_mast.ac_iecno}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_fccinohide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">FSSAI No: </label>
                                                    <div class="col-md-6">
                                                       <input class="form-control ac_fccino" placeholder="FCCI No"
                                                            name="ac_fccino" id="ac_fccino" value="{{a_mast.ac_fccino}}" type="text">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input type="text" name="FSS_DATE" id="FSS_DATE" class="form-control datemask BillDate"
                                                            value="{{a_mast.FSS_DATE}}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                             <div class="col-sm-12 col-md-6" id="ac_websitehide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">WebSite:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_website" placeholder="WebSite"
                                                            name="ac_website" id="ac_website" value="{{a_mast.ac_website}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_emailhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Email.: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_email" placeholder="Email"
                                                            name="ac_email" id="ac_email" value="{{a_mast.Email}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                         {{!-- <div class="row"> --}}
                                              <div class="col-sm-12 col-md-6" id="ac_phoffhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Off No:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_phoff" placeholder="Off No"
                                                            name="ac_phoff" id="ac_phoff" value="{{a_mast.ac_phoff}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="col-sm-12 col-md-6" id="ac_phreshide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Resi No:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_phres" placeholder="Resi No"
                                                            name="ac_phres" id="ac_phres" value="{{a_mast.ac_phres}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                        {{!-- <div class="row"> --}}
                                            <div class="col-sm-12 col-md-6" id="ac_phmobhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Mobile No: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_phmob" placeholder="Mobile No"
                                                            name="ac_phmob" id="ac_phmob" value="{{a_mast.MobileNo}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-sm-12 col-md-6" id="ac_phfaxhide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Fax:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_phfax" placeholder="Fax"
                                                            name="ac_phfax" id="ac_phfax" value="{{a_mast.ac_phfax}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_APMChide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">APMC:</label>
                                                    <div class="col-md-9">
                                                       <select class="form-control ac_APMC select2" placeholder="APMC"
                                                            name="ac_APMC" id="ac_APMC" type="text">
                                                            <option value=""></option>
                                                            <option value="Y" {{#equal a_mast.ac_APMC 'Y'}} selected=""{{/equal}}>Y</option>
                                                            <option value="N" {{#equal a_mast.ac_APMC 'N'}} selected=""{{/equal}}>N</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_PrintTypehide">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Print Type:</label>
                                                    <div class="col-md-9">
                                                       <select class="form-control ac_PrintType select2" placeholder="Print Type"
                                                            name="ac_PrintType" id="ac_PrintType" value="" type="text">
                                                            <option value=""></option>
                                                            <option value="Pre Printed" {{#equal a_mast.ac_PrintType 'Pre Printed'}} selected=""{{/equal}}>Pre Printed</option>
                                                            <option value="Plain Printed" {{#equal a_mast.ac_PrintType 'Plain Printed'}} selected=""{{/equal}}>Plain Printed</option>
                                                            <option value="Plan Printed (Logo)" {{#equal a_mast.ac_PrintType 'Plan Printed (Logo)'}} selected=""{{/equal}}>Plain Printed (Logo)</option>
                                                            {{!-- <option value="Plan Printed" selected>Plain Printed</option> --}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6" id="ac_transportCode">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Transport Code:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control ac_transportCode" placeholder="Transport Code / PO Box"
                                                            name="ac_transportCode" id="" value="{{a_mast.ac_transportCode}}" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        {{!-- </div> --}}
                                       <div class="row" id="BankDetailed">
                                           <div class="repeat clearfix">
                                            <div class="form-group clearfix">
                                                <div class="col-lg-12">
                                                    <h3 class="form-section">Bank Name
                                                        <input data-repeater-create type="button" value="+" class="btn btn-primary pull-right addbank" /></h3>
                                                </div>
                                            </div>
                                            {{#each a_mast.bank_group as |value key|}}
                                                <div data-repeater-list="bank_group" id="datanm">
                                                    <div class="form-group bankrow clearfix" data-repeater-item>
                                                        <button class="delbankbtn" data-repeater-delete type="button"><i
                                                                class="fa fa-close"></i> </button>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group form-md-line-input clearfix">
                                                                <label class="control-label col-md-3">Bank Name</label>
                                                                <div class="col-md-9">
                                                                    <input class="form-control ac_banknm" placeholder="Bank Name"  name="ac_banknm" value="{{this.ac_banknm}}"  type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group form-md-line-input clearfix">
                                                                <label class="control-label col-md-3">IFSC Code</label>
                                                                <div class="col-md-9">
                                                                    <input class="form-control" name="ifc_code" placeholder="IFSC Code"
                                                                        type="text" autocomplete="off" value="{{this.ifc_code}}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group form-md-line-input clearfix">
                                                                <label class="control-label col-md-3">Account No</label>
                                                                <div class="col-md-9">
                                                                    <input class="form-control" type="text" placeholder="Account No"
                                                                        name="account_no" value="{{this.account_no}}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="form-group form-md-line-input clearfix">
                                                                <label class="control-label col-md-3">Branch Name</label>
                                                                <div class="col-md-9">
                                                                    <input class="form-control" type="text" placeholder="Branch"
                                                                        name="branch_name" value="{{this.branch_name}}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                       </div>
                                               <div class="row">
                                                    <div class="form-group clearfix">
                                                        <div class="col-md-12" align="center">
                                                            <button type="submit" name="save"  id="aananjns" class="btn btn-success lock-account">Submit</button>
                                                            <button type="reset" class="btn btn-primary cancelmaster">Cancel</button>
                                                            {{!-- <button type="button" onclick="UpdateCity()">Update</button> --}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
    </div>
        <!-- END CONTAINER -->
    </div>
</div>

 <div class="modal fade" role="dialog" id="addGroup">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left;">Add Group</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
            <form  enctype="" id="groupMast" class="validate">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Order: </label>
                            <div class="col-md-9">
                            <input class="form-control gm_order" placeholder="Order" value="{{last}}"
                                    name="gm_order" type="number" autofocus>
                                    <input type="hidden" name="GaruEntryModel" id="GaruEntryModel" value="GaruEntryModel">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                        <label for="" class="control-label col-md-3">Main Group Name:</label>
                            <div class="col-md-9">
                                <select class="form-control group prbank"  name="sub_group" id="sub_group" placeholder="Select Main Group" style="width: 100%">
                                <option value="Primary">Primary</option>
                               
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Group Name: </label>
                            <div class="col-md-9">
                            <input class="form-control group_name" required placeholder="Group Name"
                                    name="group_name" value="" type="text" />
                                <input class="form-control vhpxgroup"  placeholder="Group Name"
                                    name="vhpxgroup" id="vhpxgroup" value="" type="hidden"/>  
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Group Type:</label>
                            <div class="col-md-9">
                            
                            <select class="form-control group_type  prbank select2" name="group_type" id="group_type" placeholder="Select Group type" style="width: 100%">
                                    <option value=""></option>
                                <option value="Income" >Income</option>
                                <option value="Expenditure" >Expenditure</option>
                                    <option value="Liabilities" >Liabilities</option>
                                    <option value="Assets " >Assets</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Maintain Outstanding: </label>
                            <div class="col-md-9">
                            <select class="form-control main_out  prbank select2"  name="main_out" id="main_out" placeholder="Select" style="width: 100%">
                                <option value="Y" >Y</option>
                                <option value="N">N</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Suppress in Group Wise TB :</label>
                            <div class="col-md-9">
                            <select class="form-control supp_gwt  prbank select2" name="supp_gwt" id="supp_gwt" placeholder="Select" style="width: 100%">
                                <option value="Y" >Y</option>
                                <option value="N">N</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Address: </label>
                            <div class="col-md-9">
                            <select class="form-control Address  prbank select2"  name="Address" id="Address" placeholder="Select" style="width: 100%">
                                <option value="Y" >Y</option>
                                <option value="N">N</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Ledger:</label>
                            <div class="col-md-9">
                            <select class="form-control Ladger  prbank select2" name="Ledger" id="Ledger" placeholder="Select" style="width: 100%">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <div class="col-md-12" align="center">
                            <button type="submit" name="save" class="btn btn-success lock-group">Submit</button>
                            <button type="reset" class="btn btn-primary cancelmaster"
                                data-form-ad-action="/add_city/city_add">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 
  <div class="modal fade" role="dialog" id="addCity">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left;">Add City</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
            <form  enctype="" id="addcity" class="validate" style="margin-left: 1em;">
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">City Name</label>
                        <div class="col-md-8">
                            <input  required class="form-control city_name" placeholder="City Name" 
                                name="city_name" type="text"  autofocus/>
                                    <input   class="form-control vhpxcity" id="vhpxcity" 
                                name="vhpxcity" type="hidden"  autofocus/>
                                <input type="hidden" name="GaruEntryModel" id="GaruEntryModel" value="GaruEntryModel">
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">District Name</label>
                        <div class="col-md-8">
                            <select class="form-control ctry_name district  prbank select2" name="ctry_name" id="ctry_name" placeholder="Select State" style="width: 100%">
                                <option value=""></option>
                         
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">State Name</label>
                        <div class="col-md-8">
                            <select class="form-control state_name state  prbank select2"  name="state_name"
                                id="state_name" placeholder=" Select State" style="width: 100%">
                                <option value=""></option>
                               
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">City Pincode</label>
                        <div class="col-md-8">
                            <input class="form-control city_code" placeholder="City Code" value="" name="city_code" type="text" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">Std Code</label>
                        <div class="col-md-8">
                            <input class="form-control city_std_code" value="" placeholder="Std Code" name="city_std_code" type="text" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">Party Type</label>
                        <div class="col-md-8">
                            <select class="form-control PartyType  prbank partytype"  name="PartyType" style="width: 100%"
                                id="PartyType" placeholder=" Select Party Type">
                                <option value=""></option>
                                {{#each partytype}}
                                <option value="{{this.id}}" >{{this.Description}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <button type="submit" name="save" class="btn btn-success lock-city">Submit</button>
                            <button type="reset" class="btn btn-primary cancelmaster"
                                data-form-ad-action="/add_city/city_add">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 

<div class="modal fade" role="dialog" id="addState">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left;">Add State</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
           <form  enctype="" id="edit_state" class="validate">
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">State Name</label>
                        <div class="col-md-9">
                            <input class="form-control state_name" placeholder="State Name"
                                name="state_name" type="text" autofocus required/>
                                    <input class="form-control vhpxstate" id="vhpxstate"
                                name="vhpxstate" type="hidden" />
                                <input type="hidden" name="GaruEntryModel" id="GaruEntryModel" value="GaruEntryModel">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">State Capital</label>
                        <div class="col-md-9">
                            <input class="form-control state_capital" placeholder="State Capital"
                                name="state_capital" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3">State Code</label>
                        <div class="col-md-9">
                            <input class="form-control state_code" placeholder="State Code"
                                name="state_code" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <label for="" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <button type="submit" name="save" class="btn btn-success lock-state">Submit</button>
                            <button type="reset" class="btn btn-primary cancelmaster"
                                data-form-ad-action="/state_master/state_add">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 

<div class="modal fade" role="dialog" id="addTax">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left;">Add City</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
                <form method="POST" action="/tax_mast/tax_mast_add" enctype="" id="addcategory" class="validate">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                                <label class="col-sm-3 control-label">Tax Head: </label>
                                <div class="col-md-9">
                                <input class="form-control tx_Thead" required placeholder="Tax Head"
                                        name="tx_Thead" type="text" autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">TDS Account:</label>
                                    <div class="col-md-9">
                                    <select class="form-control tx_TDSAC prbank TDS"   name="tx_TDSAC" id="tx_TDSAC" placeholder="Select TDS Account">
                                        <option value=""></option>
                                     
                                    </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                                <div class="form-group form-md-line-input clearfix">
                                    <label for="" class="control-label col-md-4">Section Code</label>
                                    <div class="col-md-8">
                                        <input class="form-control tx_ScCode" id="tx_ScCode" placeholder="Section Code" type="text" 
                                        name="tx_ScCode"> 
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                                <div class="form-group form-md-line-input clearfix">
                                    <label for="" class="control-label col-md-4">TDS %</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="tx_TDS" placeholder="TDS %" type="number" 
                                        name="tx_TDS"> 
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                                <div class="form-group form-md-line-input clearfix">
                                    <label for="" class="control-label col-md-4">GST %</label>
                                    <div class="col-md-8">
                                        <input class="form-control tx_GST" id="tx_GST" placeholder="GST %" type="number" 
                                        name="tx_GST"> 
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">SGST Receivable:</label>
                                    <div class="col-md-9">
                                    <select class="form-control prbank tx_SGSTR TAX"  name="tx_SGSTR" id="tx_SGSTR" placeholder="Select SGST Receivable">
                                        <option value=""></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">SGST Payable:</label>
                                    <div class="col-md-9">
                                    <select class="form-control prbank tx_SGSTP TAX"  name="tx_SGSTP" id="tx_SGSTP" placeholder="Select SGST Payable">
                                        <option value=""></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">CGST Receivable:</label>
                                    <div class="col-md-9">
                                    <select class="form-control prbank tx_CGSTR TAX"  name="tx_CGSTR" id="tx_CGSTR" placeholder="Select CGST Receivable">
                                        <option value=""></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">CGST Payable:</label>
                                    <div class="col-md-9">
                                    <select class="form-control prbank tx_CGSTP TAX"  name="tx_CGSTP" id="tx_CGSTP" placeholder="Select CGST Payable">
                                        <option value=""></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">IGST Receivable:</label>
                                    <div class="col-md-9">
                                    <select class="form-control prbank tx_IGSTR TAX"  name="tx_IGSTR" id="tx_IGSTR" placeholder="Select IGST Receivable">
                                        <option value=""></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">IGST Payable:</label>
                                    <div class="col-md-9">
                                    <select class="form-control prbank tx_IGSTP TAX"  name="tx_IGSTP" id="tx_IGSTP" placeholder="Select IGST Payable">
                                        <option value=""></option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group clearfix">
                            <label for="" class="control-label col-md-3"></label>
                            <div class="col-md-9">
                                <button type="submit" name="save" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn btn-primary cancelmaster"
                                    data-form-ad-action="/add_city/city_add">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>

            
        </div>
    </div>
</div>
 



{{> footer_new}}
{{> scripts_new}}
<script>
    $(document).ready(function () {
        var t = $('.city_table_list').DataTable({
            "dom": "<'row'<'col-md-4 col-sm-12 col-xs-12'B><'col-md-4 col-sm-6 col-xs-12'l><'col-md-4 col-sm-6 col-xs-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            "colReoder":true,
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "paging": true,
            "ajax": {
                "type": "GET",
                "url" :'/account_mast/getAccountviewlist',
            },
            'columns':
            [
                { 'data': '_id',
                render:function(data){
                return `<div class="btn-group dropdown">
                    <button class="btn btn-xs blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-left" role="menu" style="width:10em">
                        <li>
                            <a href="javascript:void(0);" class="edit_account_mast"  data-id="${data}"><i class="icon-pencil"></i> Edit </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="javascript:void(0);" class="delete-account" data-id="${data}"> <i class="icon-trash"></i> Delete </a>
                        </li>
                    </ul>
                </div>`
                },},
                { "data": "check","defaultContent": "", 'name': 'ID' },
                { "data": "ACCode","defaultContent": "", 'name': 'ACCode'},
                { "data": "ACName","defaultContent": "", 'name': 'ACName'},
                { "data": "GroupName.GroupName","defaultContent": "", 'name': 'GroupName'},
                { "data": "Address1","defaultContent": "", 'name': 'Address1' },
                { "data": "CityName.CityName","defaultContent": "", 'name': 'CityName'},
                { "data": "StateName.StateName","defaultContent": "", 'name': 'StateName' },
                { "data": "PartyType.Description","defaultContent": "", 'name': 'PartyType' },
                { "data": "GSTIN","defaultContent": "", 'name': 'GSTIN' },
                { "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
                //{ "data": "PanNumber","defaultContent": "", 'name': 'PanNumber' },
            ],
            "buttons": [
                {
                    extend: 'excel',
                    className: 'btn-default btn-excel'
                },
                {
                    extend: 'pdf',
                    className: 'btn-default btn-pdf'
                },
                {
                    extend: 'print',
                    className: 'btn-default btn-print'
                },
            ],
            "columnDefs": [
                {
                    "className": "actioncell",
                    "orderable": false,
                    "searchable": false,
                    "sortable": false,
                    "targets": [0],
                    "width": "5%",
                },
            ],
            "order": [ 1, 'asc' ],
        });
        t.on('draw', function () {
            t.column(1, { search: 'applied', order: 'applied' }).nodes().each(
                function (cell, i) {
                    cell.innerHTML = i + 1;
                }
            );
        });
        //paging
        $('#next').on('click', function () {
            t.page('next').draw('page');
        });
        $('#previous').on('click', function () {
            t.page('previous').draw('page');
        });
     });
</script>