{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Bank Reconcilation Opening Entry
                                        </li>
                                    </ul>
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                  <div class="panel panel-primary">
                                        <div class="panel-heading" style="text-align: center">
                                        Bank Reconcilation Opening Entry
                                        </div>
                                           <div class="panel-body">
                                                <form method="POST" action="/bank_reconcilition/add_opening_entry" class="validate"  novalidate enctype="">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group clearfix">
                                                                <label for="" class="control-label col-md-3">Bank Name</label>
                                                                <div class="col-md-9">
                                                                    <select id="partyid" name="cash_bank_name" class="form-control dropsetopn bankrenclName" onchange="getOpeningEntry()">
                                                                        <option value=""></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="" class="control-label col-md-5">Closing Balance As Per Bank</label>
                                                            <div class="col-md-3">
                                                                <div class="form-group clearfix">
                                                                    <input type="text" name="Closing_Bal_Bank" id="Closing_Bal_Bank" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group clearfix">
                                                                    <select name="Bank_d_c" id="Bank_d_c" style="width: 100%;" class="form-control prbank select2" placeholder="Dr/Cr">
                                                                        <option value=""></option>
                                                                        <option value="Debit">Debit</option>
                                                                        <option value="Credit">Credit</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="table-responsive adjustmentstable">
                                                                <table class="tabler" style="width: 100%;overflow-x: hidden;overflow-x: auto;padding: 0px 0px 0px 0px;margin: 0px">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width: 1em">Sno</th>
                                                                            <th style="width: 30em">Customer Name</th>
                                                                            <th style="width: 8em">Chq No</th>
                                                                            <th style="width: 6em">Date</th>
                                                                            <th style="width: 6em">Amount</th>
                                                                            <th style="width: 5em">Dr/Cr</th>
                                                                            <th style="width: 15em">Remarks</th>
                                                                            <th style="width: 1em"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr id="delOpOsArr0">
                                                                            <td>
                                                                                <input type="hidden" name="opmoduleid[0]" id="opmoduleid0" value="">
                                                                                <input type="hidden" name="OpOsArrNum" id="OpOsArrNum0" value="0">
                                                                                <input type="text" name="sno[0]" id="sno0" value="1" class="form-control">
                                                                            </td>
                                                                            <td>
                                                                                <select name="cashac_name[0]" id="cashac_name0" style="width: 100%;" class="form-control prbank select2 AllAccountWithOutCashBank"></select>
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" name="cash_chequeno[0]" id="cash_chequeno0" placeholder="Chq No" class="form-control">
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" required name="date[0]" class="form-control datemask BillDate" id="date0" value="" placeholder="Date">
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" name="Amount[0]" class="form-control" id="Amount0" placeholder="Amount" required>
                                                                            </td>
                                                                            <td>
                                                                                <select name="d_c[0]" id="d_c0" style="width: 100%;" class="form-control prbank select2" placeholder="Dr/Cr">
                                                                                    <option value=""></option>
                                                                                    <option value="Debit">Debit</option>
                                                                                    <option value="Credit">Credit</option>
                                                                                </select>
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" name="remarks[0]" class="form-control amountfocus" id="remarks0" placeholder="Remarks">
                                                                            </td>
                                                                            <td><a onclick='delOpeningEntryArr(0)' style='cursor:pointer;'><i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i></a></td>
                                                                        </tr>
                                                                        <tr id="OpOsArrNum"></tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button type="button" class="btn btn-primary addOpeningEntry center-block nofocus" id="add">Add</button>  
                                                        </div>
                                                    </div> 
                                                    <div class="action clearfix" >
                                                        <div class="col-md-12" align="center" style="margin-top: 1em">
                                                            <button type="submit" name="save" class="btn btn-success delv_load">Submit</button>
                                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
<style>
    .tabler>tbody>tr>td, .tabler>tbody>tr>th, .tabler>tfoot>tr>td, .tabler>tfoot>tr>th, .tabler>thead>tr>td {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
</style>
{{> footer_new}}
{{> scripts_new}}