{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading" align="right">
                                           Add Bank Details
                                        </div>
                                        <div class="panel-body">
                                            <form  enctype="" id="edit_state" class="validate">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Bank Name</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control bankName" id="bankName" placeholder="Bank Name"
                                                                name="bankName" value="" type="text" autofocus>
                                                            <input class="form-control vhpxstate" id="vhpxstate"
                                                                name="vhpxstate" type="hidden"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Branch Name</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control branchName" id="branchName" placeholder="Branch Name"
                                                                name="branchName" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">IFSC Code</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control ifscCode" id="ifscCode" placeholder="IFSC Code"
                                                                name="ifscCode" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">MICR Code</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control micrCode" id="micrCode" placeholder="MICR Code"
                                                                name="micrCode" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Address</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control address" id="address" placeholder="Address"
                                                                name="address" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Address2</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control address2" id="address2" placeholder="Address2"
                                                                name="address2" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Address3</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control address3" id="address3" placeholder="Address3"
                                                                name="address3" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Contact</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control contact" id="contact" placeholder="Contact"
                                                                name="contact" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group  form-md-line-input clearfix">
                                                        <label class="col-sm-3 control-label">Remark</label>
                                                        <div class="col-md-9">
                                                            <input class="form-control remark" id="remark" placeholder="Remark"
                                                                name="remark" value="" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <div class="col-md-12" style="text-align: center">
                                                            <button type="submit" name="save" class="btn btn-success lock-bankdetails" >Submit</button>
                                                            <button type="reset" class="btn btn-primary cancelmaster"
                                                              data-form-ad-action="/bank_details/bank_details_add">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {{!-- {{/scuritylogin}} data-form-ad-action="/state_master/state_add"--}}
                                </div>
                                <div class="col-md-12">
                                {{!-- {{#scuritylogin   security 'State Master' 'V'}} --}}
                                    <div class="panel panel-primary">
                                        <div class="panel-heading" style="text-align: right">
                                          Bank Details List
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table id="product_detail_table" class="product_detail_table table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Bank Name</th>
                                                            <th>Branch Name</th>
                                                            <th>IFSC Code</th>
                                                            <th>MICR Code</th>
                                                            <th>Address</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each  bank_details as |value key|}}
                                                        <tr>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <button class="btn btn-xs blue dropdown-toggle"
                                                                        type="button" data-toggle="dropdown"
                                                                        aria-expanded="false"> Actions
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-left" role="menu" style="width:150px">
                                                                         {{!-- {{#scuritylogin   ../security 'State Master' 'E'}} --}}
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="edit_bank_details_btn"
                                                                                data-id="{{this._id}}">
                                                                                <i class="icon-pencil"></i> Edit </a>
                                                                        </li>
                                                                        {{!-- {{/scuritylogin}} --}}
                                                                        <li class="divider"> </li>
                                                                         {{!-- {{#scuritylogin   ../security 'State Master' 'D'}} --}}
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="delete-bank_details"
                                                                                data-id="{{this._id}}">
                                                                                <i class="icon-trash"></i> Delete
                                                                            </a>
                                                                        </li>
                                                                        {{!-- {{/scuritylogin}} --}}
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td>{{this.bankName}}</td>
                                                            <td>{{this.branchName}}</td>
                                                            <td>{{this.ifscCode}}</td>
                                                            <td>{{this.micrCode}}</td>
                                                            <td>{{this.address}}</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th class="excludesearch"></th>
                                                            <th>Bank Name</th>
                                                            <th>Branch Name</th>
                                                            <th>IFSC Code</th>
                                                            <th>MICR Code</th>
                                                            <th>Address</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- {{/scuritylogin}} --}}
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{{> footer_new}}
{{> scripts_new}}