{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                  <div class="panel panel-primary">
                                        <div class="panel-heading">
                                      Cash/Bank Entry
                                        </div>
                                        <form method="POST" action="/cash_bank/add" class="" novalidate
                                            enctype="" id="contract_sauda">
                                           <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Entry No: </label>
                                                              <div class="col-md-6">
                                                                <select class="form-control select2"  name="cashtypebank" id="c_j_s_p" required data-Module="Cash/Bank" onchange="getBookNo()">
                                                                    {{!-- <option value="CV" >CV</option>
                                                                    <option value="BK">BK</option> --}}
                                                                    {{#each vouchMast}}
                                                                        <option value="{{this.Vo_book}}" {{#equal this.Vo_book 'BillColl'}} selected="" {{/equal}}>{{this.Vo_book}}</option>
                                                                    {{/each}}
                                                               </select>
                                                            </div>
                                                            {{!-- <div class="col-md-3">
                                                                    <input name="cash_eno" placeholder="Entry No" id="casheno" class="form-control " tabindex="1" />
                                                            </div> --}}
                                                             <div class="col-md-3">
                                                                <input type="text" name="vouc_code" id="vouc_code" placeholder="Deal Number" 
                                                                    value="{{lastNo}}"  class="form-control vouc_code"
                                                                    tabindex="2" autofocus/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Entry Date: </label>
                                                             <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control datemask"
                                                                        name="cash_edate" id="offerstartdate" value="{{dateformat Date.now 'DD/MM/YYYY'}}"
                                                                        autocomplete="off" tabindex="3"  />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle isprop"
                                                                            type="button" id="offerstartdatebtn"
                                                                            tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                             
                                                        </div>
                                                    </div>
                                                      <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Type: </label>
                                                             <div class="col-md-9">
                                                                <div class="input-group">
                                                                   <select class="form-control prbank select2" onchange="getcashbank()"  name="cash_type" id="cashtype" placeholder="Select Type">
                                                                        <option value="RECEIPT">RECEIPT</option>
                                                                        <option value="PAYMENT" selected>PAYMENT</option>
                                                                        <option value="CONTRA">CONTRA</option>
                                                                    </select>
                                                                 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                           <label onclick="SaveParty()" class="control-label col-md-3" style="cursor: pointer;text-decoration: underline;">Cash/Bank</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                 <select name="cash_bank_name" id="cash_bank_name" class="form-control prbank cashbankname"
                                                                        required>
                                                                        <option value=""></option>
                                                                        </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table tabler">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 20em">Account Name</th>
                                                                        <th style="width: 6em">Cheq NO</th>
                                                                        <th style="width: 7em">Cheq Date</th>
                                                                        <th style="width: 7em">Amount</th>
                                                                        {{#each addlessmast.Add_Less_Parameter_Master_Array as |value key|}}
                                                                        {{#ifCond this.Deduction_Par 'Y'}}
                                                                        <th style="width: 7em">{{this.Description}}</th>
                                                                        {{/ifCond}}
                                                                        {{/each}}
                                                                        <th>Narr 1</th>
                                                                        <th>Narr 2</th>
                                                                        <th style="width: 3em">Del</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                    <td class="contradetail">
                                                                             <select name="cashac_name[1]" id="cashac_name1" class="form-control prbank AllAccount" onchange="ConfirmDublicateParty(1)"  style="text-align: -webkit-right;" required>
                                                                             <option value=""></option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                             <input type="hidden" name="cashtrn" value="1" id="cashtrn1"
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;"/>
                                                                            <input type="text" name="cash_chequeno[1]" id="cashchequeno1 " 
                                                                                class="form-control" style="text-align: -webkit-right;"/>
                                                                        </td>
                                                                        <td>
                                                                           <input type="text" name="cash_chequedate[1]"
                                                                                id="cashchequedate1"
                                                                                class="form-control datepicker" autocomplete="off" style="text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <input type="number" name="cash_amount[1]" 
                                                                            required id="cashamount1"  oninput='calcashbank(1)' onkeydown="getOutStanding(1,event)"
                                                                            class="form-control FocusCashAmt" style="text-align: -webkit-right;"/>
                                                                        </td>
                                                                        {{#each addlessmast.Add_Less_Parameter_Master_Array as |value key|}}
                                                                        {{#ifCond this.Deduction_Par 'Y'}}
                                                                        <td>
                                                                            <input type="hidden" value="{{@index}}" name="YDed_Par_len" id="YDed_Par_len1">
                                                                            <input type="text" name="YDed_Par_value[1]" value="0"
                                                                            id="YDed_Par_value1{{@index}}" oninput='calcashbank(1)'
                                                                            class="form-control"  style="text-align: -webkit-right;" >
                                                                            <input type="hidden" value="{{this.Description}}" name="YDed_Par_dsc[1]" id="YDed_Par_dsc1{{@index}}">
                                                                            <input type="hidden" value="{{this._id}}" name="YDed_Par_dsc_id[1]" id="YDed_Par_dsc_id1{{@index}}">
                                                                            <input type="hidden" value="{{this.Parameter_Type}}" name="YDed_Par_typ[1]" id="YDed_Par_typ1{{@index}}">
                                                                        </td>
                                                                        {{/ifCond}}
                                                                        {{/each}}
                                                                        <td>
                                                                            <input type="hidden" name="cash_narr[1]" id="cashnarr1">
                                                                            <input type="text" name="cash_narrone[1]"
                                                                                id="cashnarrone1"  oninput='calcashbank(1)'
                                                                                class="form-control"  style="text-align: -webkit-right;"
                                                                                >
                                                                        </td>
                                                                        <td>
                                                                            <input type="hidden" name="YPara_Array[1]" id="YPara_Array1">
                                                                            <input type="hidden" name="Add_Amount_Deduction[1]" id="Add_Amount_Deduction1">
                                                                            <input type="hidden" name="Less_Amount_Deduction[1]" id="Less_Amount_Deduction1">
                                                                            <input type="hidden" name="outSaveArr[1]" id="outSaveArr1">
                                                                            <input type="text" name="cash_narrtwo[1]" oninput='calcashbank(1)'
                                                                            id="cashnarrtwo1" class="form-control amountfocus" style="text-align: -webkit-right;"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr id="contract_div">
                                                                            <th>Total</th>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>
                                                                                <input type="number" name="totcash_amt" id="totcash_amt"
                                                                                placeholder="Total" class="form-control tot_amt"style="text-align: -webkit-right;"
                                                                                readonly  oninput='calcashbank(1)'  tabindex="-1">
                                                                            </td>
                                                                            <td></td>
                                                                            <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row addhide">
                                                    <div class="col-sm-12">
                                                      <button type="button" class="btn btn-primary addcashbank center-block nofocus" id="add">Add Entry</button>  
                                                    </div>
                                                </div> 
                                                <div class="row">
                                                      <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                                <textarea name="cash_remarks" id="cash_remarks" class="form-control delv_load"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="action clearfix">
                                                        <div class="col-md-12">
                                                            <div align="center">
                                                                <button type="submit" name="save" class="btn btn-success">Submit</button>
                                                                <button type="reset" class="btn btn-danger">Cancel</button>
                                                                <a href="/cash_bank/cash_bank_list" class="btn btn-info" style="margin-top: 1.5em">Back</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="OutStandingModel" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-left: -38px; width: 1232px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left">Pending OutStanding</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="">
                            <div class="table-responsive" >
                                <div class="brand_add_container clearfix">
                                    <div class="table-responsive adjustmentstable">
                                        <table class="tabler">
                                            <thead style="background-color:#4b77be;color: white;" id="OutStandingModelHead">
                                                {{!-- <tr>
                                                    <th>Date</th>
                                                    <th>Vouc no</th>
                                                    <th>Amount</th>
                                                    <th>Panding Amount</th>
                                                    <th>Receive Amount</th>
                                                    <th>Balance</th>
                                                </tr> --}}
                                            </thead>
                                            <tbody class="out_repeat_row">
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="number" name="totPandingAmt" id="totPandingAmt" class="form-control" readonly></td>
                                                    <td>
                                                        {{!-- <input type="number" name="totReceiveAmt" id="totReceiveAmt" class="form-control" readonly> --}}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class='addsauda'></div>
                            </div>
                            </form>
                        </div>
                    </div>
                                                {{!-- end of row --}}
                </div>
                <div class="modal-footer" id="OutstandingModelSaveButton">
                    <button type="button" class="btn btn-primary" id="GetOutStInCBBtnId" onclick="GetOutStInCB()">Save</button>
                </div>
                {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" role="dialog" id="addparty">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left;">Add Account</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
            <form  class="" novalidateenctype="" id="contract_sauda">
                {{!-- <div class="row"> method="POST" action="/account_mast/amast_add"--}}
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Ac. Code: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_code" placeholder="A/C Code"
                                    name="ac_code" value="" type="text" autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                            <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">Name:</label>
                                <div class="col-md-9">
                                <input class="form-control ac_name" required placeholder="Name"
                                    name="ac_name" value="" type="text" />
                                        <input class="form-control vhpxaccount"  value="" name='vhpxaccount' id="vhpxaccount" type="hidden"/>
                                        <input type="hidden" name="GaruEntryModel" id="GaruEntryModel" value="GaruEntryModel">
                                </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Group Name: </label>
                            <div class="col-md-9">
                                <select class="form-control prbank ac_groupname group"  required name="ac_groupname" 
                                id="ac_groupname" placeholder="Select group" onchange="checkAddressdetailes()">
                                    <option value=""></option>
                                    {{!-- {{#each g_mast}}
                                    <option value="{{this._id}}">{{this.GroupName}}</option>
                                    {{/each}} --}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">Op Bal:</label>
                                <div class="col-md-5">
                                <input class="form-control ac_opbal" placeholder="Op Bal"
                                    name="ac_opbal" value="" id="ac_opbal" type="text">
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control prbank  ac_open_type select2"  name="ac_open_type" id="ac_open_type" placeholder="Select" >
                                        <option value=""></option>
                                        <option value="Debit" selected="Debit">Debit</option>
                                        <option value="Credit">Credit</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                    <div class="col-sm-12 col-md-6" id="ac_areahide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Area: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_area" placeholder="Area"
                                    name="ac_area" id="ac_area" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_add1hide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Address:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_add1" placeholder="Address"
                                    name="ac_add1" id="ac_add1" value="" type="text">
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                        {{!-- <div class="row"> --}}
                    <div class="col-sm-12 col-md-6" id="ac_add2hide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Address2:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_add2" placeholder="Address"
                                    name="ac_add2" id="ac_add2" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_cityhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">City: </label>
                            <div class="col-md-9">
                                <select class="form-control prbank ac_city city" required name="ac_city" 
                                                id="ac_city" placeholder="Select city" onchange="getCityData()">
                                    <option value=""></option>
                                    {{!-- {{#each city_master}}
                                    <option value="{{this._id}}">{{this.CityName}}</option>
                                    {{/each}} --}}
                                </select>
                                </div>
                            </div>
                    </div>   
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                        <div class="col-sm-12 col-md-6" id="ac_statehide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">State:</label>
                            <div class="col-md-9">
                                <select class="form-control prbank ac_state state" name="ac_state" 
                                        id="ac_state" placeholder="Select state">
                                        <option value=""></option>
                                        {{!-- {{#each state_master}}
                                        <option value="{{this._id}}">{{this.StateName}}</option>
                                        {{/each}} --}}
                                    </select>   
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_pincodehide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Pin Code: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_cst" placeholder="Pin Code"
                                    name="ac_pincode" id="ac_pincode" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_ptypehide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Party Type: </label>
                            <div class="col-md-9">
                                <select class="form-control prbank ac_ptype partytype" name="ac_ptype" 
                                    id="ac_ptype" placeholder="Select party type" required>
                                    <option value=""></option>
                                    {{!-- {{#each ptyp_mast}}
                                    <option value="{{this._id}}">{{this.Description}}</option>
                                    {{/each}} --}}
                                </select>   
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                    <div class="col-sm-12 col-md-6" id="ac_panhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">PAN No:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_pan" placeholder="PAN No"
                                    name="ac_pan" id="ac_pan" value="" type="text">
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-6 col-md-6" id="ac_intrestperhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label for="" class="control-label col-md-3">GSTIN:</label>
                                <div class="col-md-5">
                                <input class="form-control ac_gstin" placeholder="GSTIN"
                                    name="ac_gstin" id="ac_gstin" value="" type="text">
                                </div>
                                <label for="" class="control-label col-md-2">Int %</label>
                                    <div class="col-md-2">
                                <input class="form-control ac_intrestper" placeholder="Interest %"
                                    name="ac_intrestper" id="ac_intrestper" value="" type="text">
                                </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="row">  --}}
                        <div class="col-sm-12 col-md-6" id="ac_taxnmhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Tax Name: </label>
                            <div class="col-md-9">
                                <select class="form-control prbank ac_taxnm tax_mast" name="ac_taxnm" 
                                    id="ac_taxnm" placeholder="Tax Name">
                                <option value=""></option>
                                {{!-- {{#each tax_mast}}
                                <option value="{{this._id}}">{{this.tx_Thead}}</option>
                                {{/each}} --}}
                            </select>   
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                    {{!-- <div class="row"> --}}
                        <div class="col-sm-12 col-md-6" id="ac_crelimithide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Credit Limit:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_crelimit" placeholder="Credit Limit"
                                    name="ac_crelimit" id="ac_crelimit" value="" type="text">
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-12 col-md-6" id="ac_creditdyshide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Credit Days:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_creditdys" placeholder="Credit Days"
                                    name="ac_creditdys" id="ac_creditdys" value="" type="text">
                            </div>
                        </div>
                    </div>
                    {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                    <div class="col-sm-12 col-md-6" id="ac_iecnohide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">IEC NO: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_iecno" placeholder="IEC NO"
                                    name="ac_iecno" id="ac_iecno" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_fccinohide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">FSSAI No: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_fccino" placeholder="FCCI No"
                                    name="ac_fccino" id="ac_fccino" value="" type="text">
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                        <div class="col-sm-12 col-md-6" id="ac_websitehide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">WebSite:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_website" placeholder="WebSite"
                                    name="ac_website" id="ac_website" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_emailhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Email.: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_email" placeholder="Email"
                                    name="ac_email" id="ac_email" value="" type="text">
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                    {{!-- <div class="row"> --}}
                        <div class="col-sm-12 col-md-6" id="ac_phoffhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Off No:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_phoff" placeholder="Off No"
                                    name="ac_phoff" id="ac_phoff" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_phreshide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Resi No:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_phres" placeholder="Resi No"
                                    name="ac_phres" id="ac_phres" value="" type="text">
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                {{!-- <div class="row"> --}}
                    <div class="col-sm-12 col-md-6" id="ac_phmobhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Mobile No: </label>
                            <div class="col-md-9">
                                <input class="form-control ac_phmob" placeholder="Mobile No"
                                    name="ac_phmob" id="ac_phmob" value="" type="text">
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-12 col-md-6" id="ac_phfaxhide">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Fax:</label>
                            <div class="col-md-9">
                                <input class="form-control ac_phfax" placeholder="Fax"
                                    name="ac_phfax" id="ac_phfax" value="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" id="ac_PrintType">
                    <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Print Type:</label>
                            <div class="col-md-9">
                                <select class="form-control ac_PrintType select2" placeholder="Print Type"
                                    name="ac_PrintType" id="ac_PrintType" value="" type="text">
                                    <option value="" selected></option>
                                    <option value="Pri Printed">Pri Printed</option>
                                    <option value="Plan Printed" selected>Plan Printed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {{!-- </div> --}}
                <div class="row" id="BankDetailed">
                    <div class="repeat clearfix">
                    <div class="form-group clearfix">
                        <div class="col-lg-12">
                            <h3 class="form-section">Bank Name
                                <input data-repeater-create type="button" value="+" class="btn btn-primary pull-right addbank" /></h3>
                        </div>
                    </div>
                    <div data-repeater-list="bank_group" id="datanm">
                        <div class="form-group bankrow clearfix" data-repeater-item>
                            <button class="delbankbtn" data-repeater-delete type="button"><i
                                    class="fa fa-close"></i> </button>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-md-line-input clearfix">
                                    <label class="control-label col-md-3">Bank Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control ac_banknm" placeholder="Bank Name"  name="ac_banknm"  type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-md-line-input clearfix">
                                    <label class="control-label col-md-3">IFSC Code</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="ifc_code" placeholder="IFSC Code"
                                            type="text" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-md-line-input clearfix">
                                    <label class="control-label col-md-3">Account No</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text" placeholder="Account No"
                                            name="account_no" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group form-md-line-input clearfix">
                                    <label class="control-label col-md-3">Branch Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text" placeholder="Branch"
                                            name="branch_name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="form-group clearfix">
                        <div class="col-md-12" align="center">
                            <button type="submit" name="save"  id="aananjns" class="btn btn-success lock-account">Submit</button>
                            <button type="reset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            {{!-- lock-account --}}
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 {{!-- fade --}}
{{> footer_new}}
{{> scripts_new}}
<style>
    .tabler>tbody>tr>td, .tabler>tbody>tr>th, .tabler>tfoot>tr>td, .tabler>tfoot>tr>th, .tabler>thead>tr>td, .tabler>thead>tr>th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
</style>