{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}


<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{com_name}} -{{div_mast}}- {{dateformat sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usernm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">

                           <table id="demotable" class="table table-bordered">
                               <thead>
                                   <tr>
                                       <th>1</th>
                                       <th class="sum">2</th>
                                       <th>3</th>  
                                   </tr> 
                               </thead>
                               <tbody>
                                   
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td></td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>null</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   
                                   <tr>
                                       <td>1</td>
                                       <td>undefined</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                                   <tr>
                                       <td>1</td>
                                       <td>2</td>
                                       <td>3</td>
                                   </tr>
                               </tbody>
                                <tfoot>
                                   <tr >
                                       <th><div class="gtotal"></div></th>
                                       <th><div class="gtotal"></div></th>
                                       <th><div class="gtotal"></div></th>  
                                   </tr> 
                                   <tr>
                                       <th>1</th>
                                       <th>2</th>
                                       <th>3</th>  
                                   </tr> 
                               </tfoot>
                           </table>
                            
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>


{{> footer_new}}
{{> scripts_new}}