{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Deliver Entry
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Delivery Entry Update
                                        </div>
                                        <form method="POST" action="/delivery_entry/delivery_entry_list_update/{{delivsauda1.id}}" class="validate" novalidate
                                            enctype="" id="contract_sauda">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">

                                                            <label class="col-sm-3 control-label">Ref Number: </label>
                                                            <div class="col-md-5">
                                                                <input name="c_j_s_p" placeholder="Ref Number" value="{{delivsauda1.c_j_s_p}}"
                                                                    class="form-control item_name">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input type="text" name="vouc_code" placeholder="Delivery Number"
                                                                    class="form-control item_name digits" value="{{delivsauda1.vouc_code}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">

                                                            <label class="col-sm-3 control-label">Deliv. Date: </label>
                                                            <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control datep datemask"
                                                                        name="sd_date" value="{{dateformat delivsauda1.sd_date 'DD/MM/YYYY'}}"
                                                                        autocomplete="off" />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle"
                                                                            type="button" id="" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                            <label for="" class="control-label col-md-3">Buyer</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                    <span class="input-group-addon">
                                                                        <input type="checkbox" {{chkdel delivsauda1.br_brok "Yes"}} name="br_brok"
                                                                            id="br_brok" value="Yes" class="contractpartycheckbox">
                                                                    </span>
                                                                    {{#list party 'B' delivsauda1.br_code  'br_code' 'br_code'}}
                                                                    {{this.party_name}},{{this.city_name.city_name}}
                                                                    {{/list}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Contact: </label>
                                                            <div class="col-md-9 br_cont_div">
                                                                <input type="text" name="br_cont" id="br_cont" class="form-control" value="{{delivsauda1.br_cont}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                            <label for="" class="control-label col-md-3">Buyer Broker</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                    <span class="input-group-addon">
                                                                        <input type="checkbox" name="bb_brok" id="bb_brok"
                                                                            value="Yes" {{chkdel delivsauda1.bb_brok "Yes"}} class="contractpartycheckbox">
                                                                    </span>
                           {{#list party 'T' delivsauda1.bb_code  'bbcount' 'bb_code' }}
                            {{this.party_name}},{{this.city_name.city_name}}
                         {{/list}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Contact: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="bb_cont" id="bb_cont" value="{{delivsauda1.bb_cont}}" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                            <label for="" class="control-label col-md-3">Seller</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                    <span class="input-group-addon">
                                                                        <input type="checkbox" name="sl_brok" id="sl_brok"
                                                                            value="Yes" {{chkdel delivsauda1.sl_brok "Yes"}} class="contractpartycheckbox">
                                                                    </span>
                          {{#list party 'S'  delivsauda1.sl_code 'kind' 'sl_code' }}
                                        {{this.party_name}},{{this.city_name.city_name}}
                                    {{/list}}
                                                                    {{!-- <select name="" id="" class="party form-control"></select>
                                                                    --}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Contact: </label>
                                                            <div class="col-md-9 kind_name_div">
                                                                <input type="text" name="sl_cont" id="sl_cont" value="{{delivsauda1.sl_cont}}" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                            <label for="" class="control-label col-md-3">Seller Broker</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                    <span class="input-group-addon">
                                                                        <input type="checkbox" name="sb_brok" id="sb_brok"
                                                                            value="Yes" {{chkdel delivsauda1.sb_brok "Yes"}} class="contractpartycheckbox">
                                                                    </span>
                                                                    {{#list party 'R' delivsauda1.sb_code  'sb_code' 'sb_code' }}
                                                                        {{this.party_name}},{{this.city_name.city_name}}
                                                                    {{/list}}
                                                                    {{!-- <select name="" id="" class="select2 form-control"></select>
                                                                    --}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Contact: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="sb_cont" id="sb_cont" value="{{delivsauda1.sb_cont}}" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                {{!-- table that hides and shows on select --}}
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table contract_repeat_row">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Product</th>
                                                                        <th>Brand</th>
                                                                        <th>Bag</th>
                                                                        <th>Pack</th>
                                                                        <th>Unit</th>
                                                                        <th>Wght</th>
                                                                        <th>Rate</th>
                                                                        <th>S Rate</th>
                                                                        <th>B Rate</th>
                                                                        <th>R/Type</th>
                                                                        <th>Q/Tons</th>
                                                                        <th>Per</th>
                                                                        <th>Amount</th>
                                                                        <th>Type</th>
                                                                        <th>Old/New</th>
                                                                        <th>IPack</th>
                                                                        <th>SI Brok Rt</th>
                                                                        <th>Type</th>
                                                                        <th>SL.Brok</th>
                                                                        <th>By Brok Rt</th>
                                                                        <th>Type</th>
                                                                        <th>By Brok</th>
                                                                        {{!-- <th>SI Brok Rt</th>
                                                                        <th>Type</th> --}}
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
            {{#each delivsauda1.sauda2.contract_sauda_group as |value key|}}
            <tbody class="sauda_variation_row-{{sum @index 1}}" id="sauda_variation_row-{{sum @index 1}}-{{sum @index 1}}">
           <tr>  
            <input type="hidden" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][sd2id]" value="{{this.sd2id}}">
            <input type="hidden" name="contract_sauda_group[{{sum @index 1}}][sd2srno]" value="{{this.sd2srno}}">                 
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][p_code]"  id="inp_code{{sum @index 1}}" onchange='chgcombo({{sum @index 1}})'  class="form-control select2" placeholder="Select Product" style="width:162px;"> 
                        <option value=""></option>
                        {{#each ../product_mast}}
                        <option value="{{this._id}}" data-product_id="{{this._id}}" {{#equal ../p_code this.id}}selected=""{{/equal}}>{{this.product_name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brand_code]" list="brand_name" class="form-control select2" placeholder="Select Brand" style="width: 142px;"> 
                        <option value=""></option>
                        {{#each ../brand}}
                        <option value="{{this._id}}" data-serialnum="{{this._id}}" {{#equal ../brand_code this.id}}selected=""{{/equal}}>{{this.brand_name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input type="number"  name="contract_sauda_group[{{sum @index 1}}][bag]" step="0.0001" value="{{this.bag}}" oninput='calc({{sum @index 1}})'  id="bag{{sum @index 1}}" class="form-control" style="width: 72px;text-align: -webkit-right;">
                </td>
                <input type="hidden" name="cntr{{sum @index 1}}" value="{{sum @index 1}}" id="cntr{{sum @index 1}}" class="form-control" style="width: 102px;">
                <td class="pack_name{{sum @index 1}}">
                    {{!-- <div> --}}
                    <input type="number" name="contract_sauda_group[{{sum @index 1}}][pck]" step="0.0001" value="{{this.pck}}" oninput='calc({{sum @index 1}})' id="pck{{sum @index 1}}" class="form-control" style="width: 72px;text-align: -webkit-right;">
                    {{!-- </div> --}}
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][brnd_code]" list="brnd_code" id="inbrnd_code{{sum @index 1}}" value="{{this.brnd_code}}"  class="form-control" style="width: 72px;">
                    <option value="KG">KG</option>
                    </select>
                </td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][wght]" id="wght{{sum @index 1}}" oninput='calc({{sum @index 1}})' value="{{this.wght}}"  class="form-control wght" style="width: 82px;text-align: -webkit-right;"></td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][sd_rate]" id="sel_rate{{sum @index 1}}" oninput='calc({{sum @index 1}})' value="{{this.sd_rate}}" class="form-control wght" style="width: 72px;text-align: -webkit-right;"></td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][s_rate]" id="seler_rate{{sum @index 1}}"  value="{{this.s_rate}}" class="form-control" style="width: 72px;text-align: -webkit-right;"></td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][b_rate]" id="buy_rate{{sum @index 1}}" value="{{this.b_rate}}" class="form-control" style="width: 72px;text-align: -webkit-right;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][w_q]" id="w_q{{sum @index 1}}" oninput='calc({{sum @index 1}})' class="form-control w_q" style="width: 72px;text-align: -webkit-right;">
                    {{!-- <option value="{{this.w_q}}">{{this.w_q}}</option> --}}
                    <option value="W" {{#equal this.w_q "W"}}selected=""{{/equal}}>W</option>
                    <option value="Q" {{#equal this.w_q "Q"}}selected=""{{/equal}}>Q</option>
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][wghtunit]" id="wghtunit{{sum @index 1}}" oninput='calc({{sum @index 1}})' class="form-control" style="width: 72px;">
                    {{!-- <option value="{{this.wghtunit}}">{{this.wghtunit}}</option> --}}
                    <option value="Qtl" {{#equal this.wghtunit "Qtl"}}selected=""{{/equal}}>Qtl</option>
                    <option value="Tons" {{#equal this.wghtunit "Tons"}}selected=""{{/equal}}>Tons</option>
                    <option value="Kg" {{#equal this.wghtunit "Kg"}}selected=""{{/equal}}>Kg</option>
                    </select>
                </td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][rateper]" id="rateper{{sum @index 1}}" class="form-control" style="width: 62px;">
                    {{!-- <option value="{{this.rateper}}">{{this.rateper}}</option> --}}
                    <option value="1" {{#equal this.rateper "1"}}selected=""{{/equal}}>1</option>
                    <option value="10" {{#equal this.rateper "10"}}selected=""{{/equal}}>10</option>
                    <option value="100" {{#equal this.rateper "100"}}selected=""{{/equal}}>100</option>
                    </select>
                </td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][amount]" value="{{this.amount}}" id="amount{{sum @index 1}}" class="form-control amount" style="width: 102px;text-align: -webkit-right;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][pcktype]" id="pcktype" class="form-control" style="width: 102px;">
                    <option value="Gross" {{#equal this.pcktype "Gross"}}selected=""{{/equal}}>Gross</option>
                    <option value="Net" {{#equal this.pcktype "Net"}}selected=""{{/equal}}>Net</option>
                    </select>
                </td> 
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][g_n]" id="g_n{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="O" {{#equal this.g_n "O"}}selected=""{{/equal}}>O</option>
                    <option value="N" {{#equal this.g_n "N"}}selected=""{{/equal}}>N</option>
                    </select>
                </td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][ipack]" value="{{this.ipack}}" class="form-control" style="width: 102px;text-align: -webkit-right;"></td>
                <td class="slbrk_name{{sum @index 1}}"><input type="number" name="contract_sauda_group[{{sum @index 1}}][slbrk_rt]" oninput='calc({{sum @index 1}})' value="{{this.slbrk_rt}}" id="slbrk_rt{{sum @index 1}}" class="form-control" style="width: 102px;text-align: -webkit-right;"></td>
                <td class="slbrk_type{{sum @index 1}}">
                    <select name="contract_sauda_group[{{sum @index 1}}][slbrk_type]" oninput='calc({{sum @index 1}})' id="slbrk_type{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.slbrk_type "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.slbrk_type "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl" {{#equal this.slbrk_type "PQtl"}}selected=""{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.slbrk_type "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                </td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][slbrk_amt]" value="{{this.slbrk_amt}}"  id="slbrk_amt{{sum @index 1}}" class="form-control" style="width: 102px;text-align: -webkit-right;"></td>
                <td class="brbrk_rt{{sum @index 1}}"><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][brbrk_rt]" oninput='calc({{sum @index 1}})' value="{{this.brbrk_rt}}" id="brbrk_rt{{sum @index 1}}" class="form-control" style="width: 102px;text-align: -webkit-right;"></td>
                <td class="brbrk_typ{{sum @index 1}}">
                    <select name="contract_sauda_group[{{sum @index 1}}][brbrk_typ]" oninput='calc({{sum @index 1}})' value="{{this.brbrk_typ}}" id="brbrk_typ{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.brbrk_typ "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.brbrk_typ "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl"  {{#equal this.brbrk_typ "PQtl"}}selected{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.brbrk_typ "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                </td>
                <td><input type="number" step="0.0001" name="contract_sauda_group[{{sum @index 1}}][brbrk_amt]" value="{{this.brbrk_amt}}" id="brbrk_amt{{sum @index 1}}" class="form-control" style="width: 102px;text-align: -webkit-right;"></td>
                {{!-- <td><input type="text" name="contract_sauda_group[{{sum @index 1}}][slbrk_rte]" value="{{this.slbrk_rte}}" id="slbrk_rte{{sum @index 1}}" class="form-control" style="width: 102px;"></td>
                <td>
                    <select name="contract_sauda_group[{{sum @index 1}}][slbrk_typ]" id="slbrk_typ{{sum @index 1}}" class="form-control" style="width: 102px;">
                    <option value="%" {{#equal this.slbrk_typ "%"}}selected=""{{/equal}}>%</option>
                    <option value="PBag" {{#equal this.slbrk_typ "PBag"}}selected=""{{/equal}}>PBag</option>
                    <option value="PQtl" {{#equal this.slbrk_typ "PQtl"}}selected=""{{/equal}}>PQtl</option>
                    <option value="Fix" {{#equal this.slbrk_typ "Fix"}}selected=""{{/equal}}>Fix</option>
                    </select>
                    </td> --}}
                    <td>
                        {{#notequal @index 0}}
                        <a  data-repeater-delete="inner-field-{{@../index}}-{{sum @index 1}}" data-brand-index="{{sum @index 1}}" class='sauda_delete_btn' style='cursor:pointer;'><i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i></a>
                        {{/notequal}}
                    </td>
             </tr>
             </tbody>
            {{/each}}
                                                                    <tr id="contract_div">
                                                                        <th>Total</th>
                                                                        <td></td>
                                                                        <td><input name="tot_bags" id="tot_bags"
                                                                                placeholder="Total Bags" class="form-control"
                                                                                readonly value="{{delivsauda1.tot_bags}}"></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td> <input type="text" name="tot_wght" id="tot_wght"
                                                                                placeholder="Total tot_wght" class="form-control item_name"
                                                                                readonly value="{{delivsauda1.tot_wght}}"></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td> <input type="text" name="tot_ammount" id="tot_ammount"
                                                                                placeholder="Total Amount" class="form-control tot_ammount"
                                                                                readonly value="{{delivsauda1.tot_ammount}}"></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        {{!-- <td>SI Brok Rt</td>
                                                                        <td>Type</td> --}}
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        {{!-- end of table --}}
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <center><a id="add" class="addSauda" style="font-size: 30px;cursor:pointer;"><i
                                                                    class="fa fa-plus" aria-hidden="true"></i></a></center>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Bill No:</label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="bno" class="form-control"
                                                                    placeholder="Bill Number" value="{{delivsauda1.bno}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-sm-12 col-md-3 control-label">Date</label>
                                                            <div class="col-sm-12 col-md-9">
                                                                <div class="input-group" id="">
                                                                    <input type="text" class="form-control datemask datep"
                                                                        name="bdt" value="{{delivsauda1.bdt}}">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle"
                                                                            type="button">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Motor No</label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="mot_no" class="form-control"
                                                                    placeholder="Motor Number" value="{{delivsauda1.mot_no}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Transport:</label>
                                                            <div class="col-md-9">
                                                               {{!-- {{#if delivsauda1.tptcode}}
                                                                {{#listrt transport delivsauda1.tptcode  'tptcode' }}
                                                                  {{this.transport_name}}
                                                                {{/listrt}}
                                                                {{else}} --}}
                                                                <select name="tptcode" id="tptcode" class="form-control tptcode select2">
                                                                <option value="">--Select Transport--</option>
                                                                {{#each transport}}
                                                                <option value="{{this._id}}" {{#equal ../delivsauda1.tptcode id}}selected=""{{/equal}}>{{this.transport_name}}</option>
                                                                {{/each}}
                                                                </select>
                                                                {{!-- {{/if}}  --}}
                                                         
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Collection:</label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="tpt_col" class="form-control"
                                                                    placeholder="Collection" value="{{delivsauda1.tpt_col}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Freight:</label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="frght" id="frght" oninput="calc()"
                                                                    class="form-control" placeholder="Freight" 
                                                                    value="{{delivsauda1.frght}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Rate:</label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="frght_rt" class="form-control"
                                                                    id="frght_rt" oninput="calc()" placeholder="Rate"
                                                                     value="{{delivsauda1.frght_rt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Advance:</label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="frght_adv" class="form-control"
                                                                    id="frght_adv" oninput="calc()" placeholder="Advance"
                                                                     value="{{delivsauda1.frght_adv}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group form-md-line-input clearfix">
                                                            <label class="col-md-3 control-label">Term:</label>
                                                            <div class="col-md-9">
                                                                 {{!-- {{#if delivsauda1.term}}
                                                                {{#listrt term delivsauda1.term  'term' }}
                                                                        {{this.term_name}}
                                                                {{/listrt}}
                                                                {{else}} --}}
                                                                <select name="term" id="term" class="form-control term select2">
                                                                    <option value="">--Select Term--</option>
                                                                {{#each term}}
                                                                <option value="{{this._id}}" {{#equal ../delivsauda1.term id}}selected=""{{/equal}}>{{this.term_name}}</option>
                                                                {{/each}}
                                                                </select>
                                                                {{!-- {{/if}}  --}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Discount/<br>Credit:
                                                            </label>
                                                            <div class="col-md-9">
                                                                <input type="checkbox" name="paycond" {{#equal delivsauda1.paycond "Yes"}} checked="" {{/equal}} value="Yes" class="discountcredit"
                                                                    data-on-text="Discount" data-off-text="Credit"
                                                                    data-size="small" data-off-color="primary">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Discount: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" name="paydiscrt"
                                                                    value="{{delivsauda1.paydiscrt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-4">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Credit(Days): </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" name="cre_days" value="{{delivsauda1.cre_days}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Add1 </label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="add1_rmk"
                                                                    placeholder="Add1" value="{{delivsauda1.add1_rmk}}">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="add1_amt"
                                                                    id="add1_amt" oninput="calc()"  value="{{delivsauda1.add1_amt}}" placeholder="Amount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Less1 </label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="less1_rmk"
                                                                    placeholder="Less1" value="{{delivsauda1.less1_rmk}}">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="less1_amt"
                                                                    id="less1_amt" oninput="calc()" placeholder="Amount" value="{{delivsauda1.less1_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Add2 </label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="add2_rmk"
                                                                    placeholder="Add2" values="{{delivsauda1.add2_rmk}}">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="add2_amt"
                                                                    id="add2_amt" oninput="calc()" placeholder="Amount" value="{{delivsauda1.add2_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Less2 </label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="less2_rmk"
                                                                    placeholder="Less2" value="{{delivsauda1.less2_rmk}}">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="less2_amt"
                                                                    id="less2_amt" oninput="calc()" placeholder="Amount" value="{{delivsauda1.less2_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Add3 </label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="add3_rmk"
                                                                    placeholder="Add3" value="{{delivsauda1.add3_rmk}}">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="add3_amt"
                                                                    id="add3_amt" oninput="calc()" placeholder="Amount" value="{{delivsauda1.add3_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Less3 </label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="less3_rmk"
                                                                    placeholder="Less3" value="{{delivsauda1.less3_rmk}}">
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="less3_amt"
                                                                    id="less3_amt" oninput="calc()" placeholder="Amount" value="{{delivsauda1.less3_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Bargain Amt(Calc):
                                                            </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" name="barg_amt"
                                                                    id="barg_amt" readonly value="{{delivsauda1.barg_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Bill Amt(Party Bill):
                                                            </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" name="bill_amt"
                                                                    id="bill_amt" value="{{delivsauda1.bill_amt}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Other Terms &
                                                                condition: </label>
                                                            <div class="col-md-9">
                                                                  <select name="party_terms" id="party_terms" class="form-control party_terms select2">
                                                                    <option value="">--Select Other Terms--</option>
                                                                {{#each narration}}
                                                                <option value="{{this._id}}" {{#equal ../delivsauda1.party_terms id}}selected=""{{/equal}}>{{this.narration_name}}</option>
                                                                {{/each}}
                                                                </select>
                           {{!-- {{#listrt narration delivsauda1.party_terms  'party_terms' }}
                                        {{this.narration_name}}
                            {{/listrt}} --}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="party_remarks" class="form-control" value="{{delivsauda1.party_remarks}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>
                                                {{!-- end of row --}}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="control-label col-md-3"></label>
                                                    <div class="col-md-9">
                                                        <div class="btn-group">
                                                            <input type="hidden" name="printormessage" id="printormessage" value="submit">
                                                            <button type="button" class="btn btn-default submitn activeevent shiftfocus" data-act="submit">Submit</button>
                                                            <button type="button" class="btn btn-default submitn shiftfocus" data-act="print">Submit & Print</button>
                                                            <button type="button" class="btn btn-default submitn shiftfocus" data-act="msg">Submit & Message</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- end of row --}}
                                            </div>
                                            {{!-- end of panel body --}}
                                            <div class="panel-footer">
                                                <div class="action clearfix">
                                                    <div class="col-md-6">
                                                        <div class="col-md-9 col-md-push-3">
                                                            <button type="submit" value="submit" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- end of form group --}}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

{{> footer_new}}
{{> scripts_new}}
        