{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">

                               
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading" id="formheading">
                                            <span>Add</span> Godown Location
                                        </div>
                                        <div class="panel-body">
                                            <form method="POST" action="/gowdown_location_mast/gowdown_location_mast_add" enctype="" id="rawmatmst"
                                                class="validate">
                                                <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Location Name: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control location_name" required placeholder="Location Name"
                                                            name="location_name" value="" type="text"autofocus>
                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- end of col --}}
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Rack No:</label>
                                                    <div class="col-md-9">
                                                       <input class="form-control rack_no" placeholder="Rack No:"
                                                            name="rack_no" value="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- end of col --}}
                                        </div>
                                               <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Row No: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control row_no" placeholder="Row No"
                                                            name="row_no" value="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            {{!-- end of col --}}
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Qty Capacity: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control qty_cap" placeholder="Qty Capacity"
                                                            name="qty_cap" value="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                              <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="form-group  form-md-line-input clearfix">
                                                    <label class="col-sm-3 control-label">Remarks: </label>
                                                    <div class="col-md-9">
                                                       <input class="form-control remark" placeholder="Remarks"
                                                            name="remark" value="" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                         </div>     
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-3"></label>
                                                        <div class="col-md-9">
                                                            <button type="submit" name="save" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-primary cancelmaster"
                                                                data-form-ad-action="/add_city/city_add">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Godown Location List
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table id="product_detail_table" class="product_detail_table table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                             <th>Action</th>
                                                             <th>Sno.</th>
                                                            <th>Location Name</th>
                                                            <th>Rack No</th>
                                                            <th>Row No</th>
                                                            <th>Qty Capacity</th>
                                                            <th>Remarks</th>
                                                          
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each  gowdown_mast as |value key|}}
                                                        <tr>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <button class="btn btn-xs blue dropdown-toggle"
                                                                        type="button" data-toggle="dropdown"
                                                                        aria-expanded="false"> Actions
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-left" role="menu" style="width:150px">
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="edit_loc_mast"
                                                                                data-id="{{this._id}}">
                                                                                <i class="icon-pencil"></i> Edit </a>
                                                                        </li>
                                                                        <li class="divider"> </li>
                                                                        <li>
                                                                            
                                                                            <a href="javascript:void(0);" class="delete_loc_mast"
                                                                                data-id="{{this._id}}">
                                                                                <i class="icon-trash"></i> Delete
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td>{{sum @index 1}}</td>
                                                            <td>{{this.location_name}}</td>
                                                            <td>{{this.rack_no}}</td>
                                                            <td>{{this.row_no}}</td>
                                                             <td>{{this.qty_cap}}</td>
                                                            <td>{{this.remark}}</td>
                                                            
                                                        </tr>
                                                        {{/each}}


                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th class="excludesearch"></th>
                                                            <th>Sno.</th>
                                                            <th>Location Name</th>
                                                            <th>Rack No</th>
                                                            <th>Row No</th>
                                                            <th>Qty Capacity</th>
                                                            <th>Remarks</th>
                                                            
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{{> footer_new}}
{{> scripts_new}}