{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
               <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Journal Update Entry
                                        </div>
                                        {{#each journalmast as |value key|}}
                                        {{#ifCond this.srno "0"}}             
                                        <form method="POST" action="/journal_entry/update/{{this._id}}"  id="journalEntryUpdate" novalidate enctype="">
                                           <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                            <label class="col-sm-3 control-label">Entry No: </label>
                                                            <div class="col-md-6">
                                                                <input type="hidden" name="journalmainid" id="journalmainid" value="{{this._id}}">
                                                                <input type="hidden" name="mainbk" id="mainbk" value="{{this.main_bk}}">
                                                                {{!-- <input type="text" name="c_j_s_p"  id="cashtypebank" value="{{this.c_j_s_p}}"  class="form-control c_j_s_p"/> --}}
                                                                <select class="form-control select2"  name="c_j_s_p" id="c_j_s_p" required data-Module="Cash/Bank" onchange="getBookNo()">
                                                                    {{#each ../vouchMast}}
                                                                        <option value="{{this.Vo_book}}" {{#equal ../this.c_j_s_p Vo_book}} selected="" {{/equal}}>{{this.Vo_book}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" name="vouc_code" id="vouc_code" checked placeholder="" 
                                                                    value="{{this.vouc_code}}" readonly  class="form-control vouc_code"/>
                                                                <input type="hidden" name="Form" id="Form" value="journalEntry_Update_Form">
                                                                <input type="hidden" name="" id="GaruEntryModel" value="journalEntry_Update_Form">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group clearfix">
                                                            <label class="col-sm-3 control-label">Entry Date: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control datemask cash_date"
                                                                    name="cash_date" id="offerstartdate" value="{{dateformat this.cash_date 'DD/MM/YYYY'}}"
                                                                    autocomplete="off" tabindex="3" autofocus />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/ifCond}}
                                                {{/each}}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table tabler">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 2em"></th>
                                                                        <th>Type</th>
                                                                        <th>AccountName</th>
                                                                        <th>Debit(Amt)</th>
                                                                        <th>Credit(Amt)</th>
                                                                        <th>Remark</th>
                                                                        <th>Narration</th>
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each journalmast as |value key|}}
                                                                    <tr id="rohit{{sum @index 1}}">
                                                                        <td>
                                                                            <input type="radio" name="CheckReturn" id="CheckReturn{{sum @index 1}}" value="{{sum @index 1}}" onclick="showAdjustEntryInJVUpdate({{sum @index 1}})">
                                                                        </td> 
                                                                        <td>
                                                                            <input type="hidden" name="maincashid[{{sum @index 1}}]" id="maincashid{{sum @index 1}}" value="{{this._id}}">
                                                                            <input type="hidden" name="jourtrn" value="{{sum @index 1}}" id="jourtrn{{sum @index 1}}"
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;"/>
                                                                            <select class="form-control prbank select2"  name="cash_type[{{sum @index 1}}]"  placeholder="Select Type"  id="cashtypejv{{sum @index 1}}"style="width: 150px;text-align: -webkit-right;" onchange="journalDrCrCheck({{sum @index 1}})">
                                                                                <option value=""></option>
                                                                                <option value="Debit"{{#equal this.cash_type "Debit"}} selected=""{{/equal}} >Debit</option>
                                                                                <option value="Credit"{{#equal this.cash_type "Credit"}} selected=""{{/equal}}>Credit</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <select name="cashac_name[{{sum @index 1}}]" id="cashac_name{{sum @index 1}}" class="form-control AllAccountWithOutCashBank"
                                                                            required style="width: 250px;text-align: -webkit-right;">
                                                                            <option value="{{this.cashac_name._id}}" selected>{{this.cashac_name.ACName}}</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="cash_debitamount[{{sum @index 1}}]" value="{{#ifCond this.cash_type "Debit"}} {{this.cash_amount}} {{/ifCond}} {{#ifCond this.cash_type "Credit"}} 0 {{/ifCond}}" id="cashamountjv{{sum @index 1}}"  oninput='calJournal({{sum @index 1}})' class="form-control " style="text-align: -webkit-right;" {{#ifCond this.cash_type "Credit"}} readonly {{/ifCond}}/>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                             <input type="text" name="cash_creditamount[{{sum @index 1}}]" value="{{#ifCond this.cash_type "Credit"}} {{this.cash_amount}} {{/ifCond}} {{#ifCond this.cash_type "Debit"}} 0 {{/ifCond}}" id="cashamountcr{{sum @index 1}}"  oninput='calJournal({{sum @index 1}})' class="form-control " style="text-align: -webkit-right;" {{#ifCond this.cash_type "Debit"}} readonly {{/ifCond}}/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="cash_narrone[{{sum @index 1}}]" value="{{this.cash_narrone}}" id="cashremark{{sum @index 1}}" class="form-control "  style="">
                                                                            <input type="hidden" name="outSaveArr[{{sum @index 1}}]" id="outSaveArr{{sum @index 1}}" value="{{this.outStandingArr}}">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="cash_narrtwo[{{sum @index 1}}]" value="{{this.cash_narrtwo}}" id="cashnarrtwo{{sum @index 1}}" class="form-control amountfocus" style=""/>
                                                                        </td>
                                                                        <td>{{#notequal @index 0}}
                                                                            <a onclick='remove_cashbank("{{this._id}}");' style='cursor:pointer;'><i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i></a>
                                                                            {{/notequal}}
                                                                        </td>
                                                                    </tr>
                                                                    {{/each}}
                                                                    <tr id="contract_div">
                                                                        <td></td>
                                                                        <th>Total</th>
                                                                        <td></td>
                                                                        <td>
                                                                        {{#each journalmast as |value key|}}
                                                                        {{#ifCond this.srno "0"}}  
                                                                            <input type="text" name="tot_amtdebit" id="totcash_amt"
                                                                            placeholder="Total" class="form-control" style="text-align: -webkit-right;" value="{{this.tot_amtdebit}}"
                                                                            readonly  oninput='journal(1)'  tabindex="-1">
                                                                        {{/ifCond}}
                                                                        {{/each}}
                                                                        </td>
                                                                        <td>
                                                                        {{#each journalmast as |value key|}}
                                                                        {{#ifCond this.srno "0"}}     
                                                                            <input type="text" name="tot_amtcridit" id="totcash_amtcr"
                                                                            placeholder="Total" class="form-control"style="text-align: -webkit-right;" value="{{this.tot_amtcridit}}"
                                                                            readonly  oninput='journal(1)'  tabindex="-1">
                                                                        {{/ifCond}}  
                                                                        {{/each}}
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                         <div class="row" id="showAdjustEntryInCbUpdate" style="background-color: greenyellow"></div>
                                                      <button type="button" class="btn btn-primary addjournal center-block nofocus" id="add">Add Entry</button>  
                                                    </div>
                                                </div> 
                                                <div class="row">
                                                      <div class="col-sm-12 col-md-6">
                                                        <div class="form-group clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                            {{#each journalmast as |value key|}}
                                                            {{#ifCond this.srno "0"}}  
                                                            <textarea name="cash_remarks" id="cash_remarks" class="form-control delv_load">{{this.cash_remarks}}</textarea>
                                                            {{/ifCond}}
                                                            {{/each}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           </div>
                                           <div class="panel-footer">
                                                <div class="action clearfix">
                                                    <div class="col-md-12">
                                                        <div align="center">
                                                            <button type="button" name="save" id="JVEntryUpdateBtn" class="btn btn-success" onclick="JVEntryUpdateOnClick()">Submit</button>
                                                            {{!-- <button type="reset" class="btn btn-danger">Cancel</button> --}}
                                                            <a href="/journal_entry/journal_entry_list" class="btn btn-info" style="margin-top: 1.5em">Back</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {{!-- {{/each}} --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="OutStandingModelInJournalEntry">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-left: -38px; width: 1232px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="float: left">Pending OutStanding</h4>
                <a style="float: right;"><i class='fa fa-times'  data-dismiss="modal" style='font-size: 20px;color: red;margin-left:12px;'></i></a>
            </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="">
                            <div class="table-responsive" >
                                <div class="brand_add_container clearfix">
                                    <div class="table-responsive adjustmentstable">
                                        <table class="tabler">
                                            <thead style="background-color:#4b77be;color: white;" id="OutStandingModelHead">
                                                {{!-- <tr>
                                                    <th>Date</th>
                                                    <th>Vouc no</th>
                                                    <th>Amount</th>
                                                    <th>Panding Amount</th>
                                                    <th>Receive Amount</th>
                                                    <th>Balance</th>
                                                </tr> --}}
                                            </thead>
                                            <tbody class="out_repeat_row">
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><input type="number" name="totPandingAmt" id="totPandingAmt" class="form-control" readonly></td>
                                                    <td>
                                                        {{!-- <input type="number" name="totReceiveAmt" id="totReceiveAmt" class="form-control" readonly> --}}
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class='addsauda'></div>
                            </div>
                            </form>
                        </div>
                    </div>
                                                {{!-- end of row --}}
                </div>
                <div class="modal-footer" id="OutstandingModelSaveButton">
                    <button type="button" class="btn btn-primary" id="GetOutStInJEBtnId" onclick="GetOutStInJE('Save_OutEntry')">Save</button>
                </div>
                {{!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --}}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{> footer_new}}
{{> scripts_new}}
<style>
     .tabler>tbody>tr>td, .tabler>tbody>tr>th, .tabler>tfoot>tr>td, .tabler>tfoot>tr>th, .tabler>thead>tr>td, .tabler>thead>tr>th {
        padding: 1px;
        line-height: 1.42857143;
        vertical-align: center;
    }
</style>