{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
               <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                      Edit Outward Challan
                                        </div>
                                        <form method="POST" action="/outward_challan/update/{{somast._id}}" class="" novalidate
                                            enctype="" id="contract_sauda">
                                           <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">

                                                            <label class="col-sm-3 control-label">Entry No: </label>
                                                            <div class="col-md-5">
                                                                <select name="so_no" placeholder="Sales Order No" id="so_no" class="form-control so_no select2" tabindex="1" >
                                                                    {{!-- <option value="Out">Out</option> --}}
                                                                    {{!-- <option value="Inw">Inw</option> --}}
                                                                    {{#ifCond somast.c_j_s_p 'Out'}}
                                                                    <option value="Out" selected>Out</option>
                                                                    {{/ifCond}}
                                                                    {{#ifCondNot somast.c_j_s_p 'Out'}}
                                                                    <option value="Out">Out</option>
                                                                    {{/ifCondNot}}
                                                                    {{#ifCond somast.c_j_s_p 'Inw'}}
                                                                    <option value="Inw" selected>Inw</option>
                                                                    {{/ifCond}}
                                                                    {{#ifCondNot somast.c_j_s_p 'Inw'}}
                                                                    <option value="Inw">Inw</option>
                                                                    {{/ifCondNot}}
                                                                </select>
                                                            </div>
                                                             <div class="col-md-4">
                                                                <input type="number" name="vouc_code" checked placeholder="Deal Number"
                                                                     value="{{somast.vouc_code}}"  class="form-control vouc_code" autofocus required
                                                                    tabindex="2"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">

                                                            <label class="col-sm-3 control-label">Entry Date: </label>
                                                            
                                                             <div class="col-md-4">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control so_date datemask"
                                                                        name="so_date" id="offerstartdate" value="{{dateformat somast.so_date 'DD/MM/YYYY'}}"
                                                                        autocomplete="off" tabindex="3" required />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle isprop"
                                                                            type="button" id="offerstartdatebtn"
                                                                            tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                             
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                           <label class="control-label col-md-3">Party Name</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                <select class="form-control select2" name="buy_cus_name"
                                                                    placeholder="Please Select Party">
                                                                    <option value=""></option>
                                                                    {{#each buyername}}
                                                                    <option value="{{this._id}}" {{#equal ../somast.buy_cus_name.ACName ACName}} selected=""{{/equal}}>{{this.ACName}}.................{{this.CityName.CityName}}</option>
                                                                    
                                                                    {{/each}}
                                                                   </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group clearfix">
                                                           <label class="control-label col-md-3">Production Dept Name</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                <select class="form-control select2" name="production_dept_name"
                                                                    placeholder="Please Select Department">
                                                                    <option value=""></option>
                                                                    {{#each production_dept_name}}
                                                                        <option value="{{this._id}}" {{#equal ../somast.production_dept_name.Description Description}} selected=""{{/equal}}>{{this.Description}}</option>
                                                                    {{/each}}
                                                                   </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Bill Number: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" placeholder="Bill NO"name="buy_pono" id="buy_pono" class="form-control buy_pono"value="{{somast.buy_pono}}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Bill Date: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="buy_podt" id="podt" class="form-control buy_podt datemask"
                                                                     value="{{dateformat somast.buy_podt 'DD/MM/YYYY'}}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" placeholder="remarks" name="buy_rmks" id="buyremarks" class="form-control buy_rmks" value="{{somast.buy_rmks}}">
                                                            </div>
                                                    </div>
                                                    </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table worksheet_repeat_row">
                                                                <thead>
                                                                    <tr>
                                                                        <th>ItemName</th>
                                                                        <th>Price</th>
                                                                        {{!-- <th>PackPerCarten</th> --}}
                                                                        <th>Qty</th>
                                                                        <th>Discount</th>
                                                                        <th>Value</th>
                                                                        <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                      {{#each somast.sales_or_group as |value key|}}
                                                                    <tr class="salesorder_row-{{@index}}" id="rohit{{@index}}">
                                                                                     
                                                                        <td>
                                                                             <input type="hidden" name="buyrn" value="{{@index}}" id="buyrn{{@index}}" oninput='calsalesorder({{@index}})'
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;">
                                                                            
                                                                           <select  name="sales_or_group[{{@index}}][so_disc]" id="descpso{{@index}}" onchange='getpriMrn({{@index}})' class="form-control  prbank select2" 
                                                                             placeholder="Select Product"  style="text-align: -webkit-right; width: 100%"> 
                                                                            <option value=""></option>
                                                                            {{#each ../product}}
                                                                                <option value="{{this.id}}"data-serialnum="{{this._id}}"{{#equal ../this.so_disc id}} selected=""
                                                                                    {{/equal}}>{{this.Rm_Des}}</option>
                                                                                {{/each}}
                                                                            </select>
                                                                        </td>
                                                                        <td id='orderpriceso{{@index}}'>
                                                                            <input type="number" name="sales_or_group[{{@index}}][order_price]" id="orderprice{{@index}}" oninput='calsalesorder({{@index}})' required
                                                                                class="form-control sales_or_group[{{@index}}][order_price]" style="text-align: -webkit-right;" value="{{this.order_price}}"
                                                                                 />
                                                                        </td>
                                                                       
                                                                        <td style="display:none;" id='pacincso{{@index}}'>
                                                                           <input type="text" name="sales_or_group[{{@index}}][unit]"
                                                                                id="sopacpercarten{{@index}}" oninput='calsalesorder({{@index}})'
                                                                                class="form-control  sales_or_group[{{@index}}][unit]" style="text-align: -webkit-right;" value="{{this.unit}}"
                                                                                 />
                                                                               
                                                                        </td>
                                                                        <td style="display:none;" id="sodivpso{{@index}}">
                                                                            <input type="hidden" name="sales_or_group[{{@index}}][so_div]"
                                                                                id="so_div{{@index}}"  oninput='calsalesorder({{@index}})'
                                                                                class="form-control sales_or_group[{{@index}}][so_div]" style="text-align: -webkit-right;"  value="{{this.so_div}}"
                                                                                />
                                                                                </td>
                                                                        <td>
                                                                             
                                                                             <input type="number" name="sales_or_group[{{@index}}][so_qty]"
                                                                                id="so_qty{{@index}}"  oninput='calsalesorder({{@index}})' required
                                                                                class="form-control  sales_or_group[{{@index}}][so_qty]" style="text-align: -webkit-right;"value="{{this.so_qty}}"
                                                                                />
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" name="sales_or_group[{{@index}}][so_discount]"
                                                                                id="so_discount{{@index}}"  oninput='calsalesorder({{@index}})' required
                                                                                class="form-control sales_or_group[{{@index}}][so_discount]"  style="text-align: -webkit-right;" value="{{this.so_discount}}"
                                                                               / >
                                                                        </td>
                                                                        <td>
                                                                              <input type="hidden" name="sales_or_group[{{@index}}][total_amt_before]"  id="total_amt_before{{@index}}" oninput='calsalesorder({{@index}})'
                                                                              class="form-control sales_or_group[{{@index}}][total_amt_before]" style="width: 102px;text-align: -webkit-right;" value="{{this.total_amt_before}}"/>
                                                                             <input type="number" name="sales_or_group[{{@index}}][total_amt]" readonly
                                                                                id="total_amt{{@index}}" oninput='calsalesorder({{@index}})'
                                                                                class="form-control sales_or_group[{{@index}}][total_amt]" style="text-align: -webkit-right;" value="{{this.total_amt}}"
                                                                                />
                                                                        </td>
                                                                       <td> {{#notequal @index 0}}
                                                                            <a  data-repeater-delete="inner-field-{{@index}}-{{@index}}"  data-brand-index="{{@index}}" class="salesorder_delete_btn"  style='cursor:pointer;'>
                                                                                <i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i>
                                                                                </a>
                                                                                {{/notequal}}
                                                                            </td>
                                                                    </tr>
                                                                      {{/each}}
                                                                    <tr id="contract_div_po">
                                                                            <th>Total</th>
                                                                            {{!-- <td></td> --}}
                                                                            
                                                                             <td> <input type="hidden" name="tot_amtbefore" id="tot_amtbefore"
                                                                            placeholder="Total" class="form-control tot_amtbefore" oninput='calsalesorder(1)' style="text-align: -webkit-right;" value="{{somast.tot_amtbefore}}"
                                                                            readonly  tabindex="-1"></td>
                                                                            <td> <input type="text" name="tot_sooq" id="tot_sooq"
                                                                            placeholder="Total" class="form-control tot_sooq" oninput='calsalesorder(1)' style="text-align: -webkit-right;" value="{{somast.tot_sooq}}"
                                                                            readonly  tabindex="-1"></td>
                                                                            <td> <input type="hidden" name="tot_discount" id="tot_discount"
                                                                            placeholder="Total" class="form-control tot_discount" oninput='calsalesorder(1)' style="text-align: -webkit-right;" value="{{somast.tot_discount}}"
                                                                            readonly  tabindex="-1"></td>
                                                                           <td> <input type="text" name="tot_amtso" id="tot_amtso"
                                                                            placeholder="Total" class="form-control tot_amt"style="text-align: -webkit-right;" value="{{somast.tot_amtso}}"
                                                                            readonly  oninput='calsalesorder(1)'  tabindex="-1"></td>
                                                                            <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-12">
                                                      <button type="button" class="btn btn-primary addMrn center-block nofocus" id="add">Add Item</button>  
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div> 
                                                      <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table worksheet_repeat_row">
                                                                <thead>
                                                                    <tr>
                                                                            <th>Particular(ADD)</th>
                                                                               <th>Amount</th>
                                                                          
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                      {{#each somast.add_details as |value key|}}
                                                                    <tr class="salesorder_rowadd-{{@index}}" id="salesorder_rowadd-{{@index}}-{{@index}}">
                                                                                     
                                                                        <td>
                                                                             <input type="hidden" name="saleadd" value="{{@index}}" id="saleadd{{@index}}" oninput='calsaleadd({{@index}})'
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;"/>
                                                                               
                                                                           
                                                                         
                                                                            <input type="text" name="add_details[{{@index}}][particular_add]" id="addparticular{{@index}}" oninput='calsaleadd({{@index}})' value="{{this.particular_add}}"
                                                                                class="form-control  add_details[{{@index}}][particular_add]" style="text-align: -webkit-left;"
                                                                                 />
                                                                        </td>
                                                                      
                                                                        <td >
                                                                             <input type="text" name="add_details[{{@index}}][particular_amount]"
                                                                                id="AmountParticular{{@index}}" oninput='calsaleadd({{@index}})' value="{{this.particular_amount}}"
                                                                                class="form-control  add_details[{{@index}}][particular_amount]" value=0 style="text-align: -webkit-right;"
                                                                                />
                                                                                    <td> {{#notequal @index 0}}
                                                                            <a  data-repeater-delete="inner-field-{{@index}}-{{@index}}"  data-brand-index="{{@index}}" class="salesorder_delete_btnadd"  style='cursor:pointer;'>
                                                                                <i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i>
                                                                                </a>
                                                                                {{/notequal}}
                                                                            </td>
                                                                          </tr>
                                                                          {{/each}}
                                                                          <tr id="prabal_div"></tr>
                                                                     </tbody>
                                                               </table>
                                                          </div>
                                                     </div>
                                                         <div class="col-md-6">
                                                           <div class="table-responsive adjustmentstable">
                                                              <table class="table worksheet_repeat_row">
                                                                  <thead>
                                                                      <tr>
                                                                            <th>Particular(Less)</th>
                                                                            <th>Amount</th>
                                                                          
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                     {{#each somast.less_details as |value key|}}
                                                                    <tr class="salesorder_rowless-{{@index}}" id="salesorder_rowless-{{@index}}-{{@index}}">
                                                                                     
                                                                        <td>
                                                                             <input type="hidden" name="saleless" value="1" id="saleless{{@index}}" oninput='calsaleadd({{@index}})'
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;"/>
                                                                               
                                                                           
                                                                         
                                                                            <input type="text" name="less_details[{{@index}}][particular_less]" id="lessparticular{{@index}}" oninput='calsaleadd({{@index}})' value="{{this.particular_less}}"
                                                                                class="form-control  less_details[{{@index}}][particular_less]" style="text-align: -webkit-left;"
                                                                                 />
                                                                        </td>
                                                                      
                                                                        <td >
                                                                             <input type="text" name="less_details[{{@index}}][particular_amtless]"
                                                                                id="lessamtParticular{{@index}}" oninput='calsaleadd({{@index}})' value="{{this.particular_amtless}}"
                                                                                class="form-control less_details[{{@index}}][particular_amtless]"  value=0 style="text-align: -webkit-right;"
                                                                                />
                                                                        <td> {{#notequal @index 0}}
                                                                            <a  data-repeater-delete="inner-field-{{@index}}-{{@index}}"  data-brand-index="{{@index}}" class="salesorder_delete_btnless"  style='cursor:pointer;'>
                                                                                <i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i>
                                                                                </a>
                                                                                {{/notequal}}
                                                                            </td>
                                                                    
                                                                    </tr>
                                                                     {{/each}}
                                                                     <tr id="vipul_div"></tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>   
                                                 <div class="row">
                                                    <div class="col-sm-6">
                                                      <button type="button" class="btn btn-primary addmrndetails center-block nofocus" id="add">Add Details</button>  
                                                    </div>
                                                    <div class="col-sm-6">
                                                      <button type="button" class="btn btn-primary lessmrndetails center-block nofocus" id="add">Add Details</button>  
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div>  
                                         <div class="row">
                                                      <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                                <textarea name="so_remarks" id="so_remarks" class="form-control delv_load">{{somast.so_remarks}}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                     
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Grand Total: </label>
                                                            <div class="col-md-9">
                                                                <input  readonly name="grand_total" id="totalgrand"  value="{{somast.grand_total}}" class="form-control grand_total"></input>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                                </div>
                                              
                                            <div class="panel-footer">
                                                <div class="action clearfix">
                                                    <div class="col-md-12" align="center">
                                                        <div >
                                                            <button type="submit" name="save" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                                            <a href="/outward_challan/outward_challanlist" class="btn btn-info" style="margin-top: 1.5em">Back</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
               </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>


{{!-- Party Modal --}}


{{> footer_new}}
{{> scripts_new}}