{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="panel panel-primary table light " id="tableportlet">
                                        <div class="panel-heading">
                                            Party List
                                            <div class="misc pull-right">
                                                <div class="buttons">
                                                    <div class="btn-group dropdown">
                                                        <button class="btn btn-xs blue dropdown-toggle" type="button"
                                                            data-toggle="dropdown" aria-expanded="false"> Actions
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                            {{#scuritylogin   security 'Party Master' 'E'}}
                                                            <li>
                                                                <a href="" data-link="/party/party_list_update/" class="editaction">
                                                                    <i class="icon-pencil"></i> Edit </a>
                                                            </li>
                                                            {{/scuritylogin}}
                                                            <li class="divider"> </li>
                                                            {{#scuritylogin   security 'Party Master' 'D'}}
                                                            <li>
                                                                <a href="" data-link="/party/delete_party?data=" class="deleteaction">
                                                                    <i class="icon-trash"></i> Delete
                                                                </a>
                                                            </li>
                                                            {{/scuritylogin}}
                                                        </ul>
                                                    </div>
                                                    <a href="/party/party_add">
                                                        <button class="btn btn-link" type="button"><i class="fa fa-plus"></i>Add
                                                            Party</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" id="portletbody">
                                            <table class="party_detail_table table-condensed table table-striped table-bordered table-hover"
                                                id="product_detail_table">
                                                <thead>
                                                    <tr>
                                                        <th class="excludesearch mastercheckbox"><input type="checkbox"></th>
                                                        <th class="excludesearch">Sno.</th>
                                                         <th>Short Name</th>
                                                        <th>Party Name</th>
                                                        <th>Address</th>
                                                        <th>Area Name</th>
                                                        <th>City Name</th>
                                                        <th>Pin-Code</th>
                                                        <th>Credit Limits</th>
                                                        <th>PAN</th>
                                                        <th>GSTIN</th>
                                                        <th>Phone(office)</th>
                                                        <th>Phone(Resi.)</th>
                                                        <th>FSSAI</th>
                                                        <th>FAX</th>
                                                        <th>MobileNo</th>
                                                        {{!-- <th class="excludesearch noExport">Action</th> --}}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th class="excludesearch">
                                                            <div class="btn-group dropdown">
                                                        </th>
                                                        <th class="excludesearch"></th>
                                                         <th>Short Name</th>
                                                        <th>Party Name</th>
                                                        <th>Address</th>
                                                        <th>Area Name</th>
                                                        <th>City Name</th>
                                                        <th>Pin-Code</th>
                                                        <th>Credit Limits</th>
                                                        <th>PAN</th>
                                                        <th>GSTIN</th>
                                                        <th>Phone(office)</th>
                                                        <th>Phone(Resi.)</th>
                                                        <th>FSSAI</th>
                                                        <th>FAX</th>
                                                        <th>MobileNo</th>
                                                        {{!-- <th class="excludesearch noExport"></th> --}}
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

{{> footer_new}}
{{> scripts_new}}