{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}


<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Payment Ragister
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                    <div class="advancesearch clearfix">
                                <div class="col-md-2">

                                      <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group fgradio">
                                                    <input type="radio" name="formfilter" value="sd_date" id="sd_date"
                                                        class="make-switch" data-on-text="Date" data-off-text="Date"
                                                        data-size="small" data-on-color="primary" data-handle-width="60px" checked>

                                                    <input type="radio" name="formfilter" value="sl_brok" id="sl_brok"
                                                        class="make-switch" data-on-text="Seller" data-handle-width="60px" data-off-text="Seller"
                                                        data-size="small" data-on-color="primary">

                                                    {{!-- <input type="radio" name="formfilter" value="sb_brok" id="sb_brok"
                                                        class="make-switch" data-on-text="S.Broker" data-handle-width="60px" data-off-text="S.Broker"
                                                        data-size="small" data-on-color="primary"> --}}

                                                    <input type="radio" name="formfilter" value="br_brok" id="br_brok"
                                                        class="make-switch" data-on-text="Buyer" data-handle-width="60px" data-off-text="Buyer"
                                                        data-size="small" data-on-color="primary">

                                                    {{!-- <input type="radio" name="formfilter" value="bb_brok" id="bb_brok"
                                                        class="make-switch" data-on-text="B.Broker" data-handle-width="60px" data-off-text="B.Broker"
                                                        data-size="small" data-on-color="primary"> --}}
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- end of row --}}
                                </div>
                                <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">Period</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="filterstartdate"
                                                            value="{{dateformat Date.now '01/04/2018'}}" id="contractrange"
                                                            autocomplete="off" />
                                                    </div>
                                                </div>
                                                {{!-- end of form-group clearfix --}}
                                            </div>
                                            {{!-- end of col --}}
                                        </div>
                                        {{!-- end of row --}}
                                          <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">Seller</label>
                                                    <div class="col-md-9">
                                                        {{#listbsrtopt party 'S' 'sl_code' 'sl_code' 'select2' 'multiple'  }}
                                                        {{this.party_name}}
                                                        {{/listbsrtopt}}
                                                        {{!-- {{#listbsrt party 'S' 'sl_code' 'sl_code'}}
                                                        {{this.party_name}}
                                                        {{/listbsrt}} --}}
                                                    </div>
                                                </div>
                                                {{!-- end of form-group clearfix --}}
                                            </div>
                                            {{!-- end of col --}}
                                            {{!-- <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">S.Broker</label>
                                                    <div class="col-md-9">
                                                        {{#listbsrtopt party 'T' 'sb_code' 'sbcode' 'select2' 'multiple'  }}
                                                        {{this.party_name}}
                                                        {{/listbsrtopt}}
                                                    </div>
                                                </div>
                                            </div> --}}
                                            {{!-- end of col --}}
                                            <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">Buyer</label>
                                                    <div class="col-md-9">
                                                        {{#listbsrtopt party 'B' 'br_code' 'brcode' 'select2' 'multiple'  }}
                                                        {{this.party_name}}
                                                        {{/listbsrtopt}}
                                                        {{!-- {{#listbsrt party 'B' 'br_code' 'brcode'}}
                                                        {{this.party_name}}
                                                        {{/listbsrt}} --}}
                                                    </div>
                                                </div>
                                                {{!-- end of form-group clearfix --}}
                                            </div>
                                            {{!-- end of col --}}
                                            {{!-- <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">B.Broker</label>
                                                    <div class="col-md-9">
                                                        {{#listbsrtopt party 'S' 'bb_code' 'bbcode' 'select2' 'multiple'  }}
                                                        {{this.party_name}}
                                                        {{/listbsrtopt}}
                                                    </div>
                                                </div>
                                            </div> --}}
                                            {{!-- end of col --}}
                                        </div>
                                        {{!-- end of row --}}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-action searchbtns clearfix">
                                                    <button type="submit" class="btn btn-success" name="filtersubmit"
                                                        id="paymentfiltersubmit" value="submit">Show Result</button>
                                                    <button type="reset" class="btn btn-danger">Reset</button>
                                                </div>
                                            </div>
                                            {{!-- end of col --}}
                                        </div>
                                        {{!-- end of row --}}
                                    </div>
                                </div>
                            </div>
                            <div class="payment_detail_body"></div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

{{> footer_new}}
{{> scripts_new}}