{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
               <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                        Plan Entry
                                        </div>
                                        <form method="POST" action="/plan_entry/add" class="" novalidate
                                            enctype="" id="contract_sauda">
                                           <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Plan No: </label>
                                                            <div class="col-md-9">
                                                                <input type="number" name="plan_no" placeholder="Plan Number" 
                                                                    value="{{last}}" class="form-control plan_no" required autofocus
                                                                    tabindex="2" style="text-align: left"/>
                                                            </div>        
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Plan Date: </label>
                                                             <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control datemask"
                                                                        name="plan_date" id="offerstartdate" value="{{dateformat Date.now 'DD/MM/YYYY'}}"
                                                                        autocomplete="off" tabindex="3"  required />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle isprop"
                                                                            type="button" id="offerstartdatebtn"
                                                                            tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                             
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table worksheet_repeat_row">
                                                                <thead>
                                                                    <tr>
                                                                            <th style="width: 50em">Product Name</th>
                                                                            <th>Qty</th>
                                                                            <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                             <input type="hidden" name="buyrn" value="0" id="buyrn0" oninput='calsalesorder(1)'
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;"/>
                                                                           <select  name="plan_entry_group[0][so_disc]" id="descpso0"  class="form-control  prbank select2" required
                                                                             placeholder="Select Product" style="text-align: -webkit-left; width:100%"> 
                                                                            <option value=""></option>
                                                                            {{#each product}}
                                                                                <option value="{{this.id}}" data-serialnum="{{this._id}}">{{this.Fg_Des}}</option>
                                                                            {{/each}}
                                                                            </select>
                                                                        </td>
                                                                        
                                                                        <td>
                                                                            <input type="number" name="plan_entry_group[0][so_qty]" id="so_qty0"  oninput='calPlan(0)' required
                                                                            class="form-control amountfocus" style="text-align: -webkit-right;"/>
                                                                        </td>
                                                                    </tr>
                                                                    <tr id="contract_div_po">
                                                                            <th>Total</th>
                                                                            <td><input type="text" name="tot_sooq" id="tot_sooq"
                                                                            placeholder="Total" class="form-control tot_sooq" oninput='calPlan(1)' style="text-align: -webkit-right;"
                                                                            readonly  tabindex="-1"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-12">
                                                      <button type="button" class="btn btn-primary addPlan center-block nofocus" id="add">Add Item</button>  
                                                    </div>
                                                </div> 
                                            <div class="panel-footer">
                                                <div class="action clearfix">
                                                    <div class="col-md-12" align="center">
                                                        <div >
                                                            <button type="submit" name="save" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                                            <a href="/plan_entry/plan_entrylist" class="btn btn-info" style="margin-top: 1.5em">Back</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
               </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>


{{!-- Party Modal --}}


{{> footer_new}}
{{> scripts_new}}