{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}


<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                    <div class="advancesearch clearfix">
                               
                                <div class="col-md-11">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">Period</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="filterstartdate"
                                                            value="{{dateformat Date.now '01/04/2018'}}" id="contractrange"
                                                            autocomplete="off" />
                                                    </div>
                                                </div>
                                                {{!-- end of form-group clearfix --}}
                                            </div>
                                            {{!-- end of col --}}
                                                 <div class="col-md-6">
                                                <div class="form-group clearfix">
                                                    <label for="" class="control-label col-md-3">Buyer</label>
                                                    <div class="col-md-9">
                                                          <select class="form-control prbank buy_cus_name select2 prbank" name="buy_cus_name"
                                                                    placeholder="Please Select buyer"   id= "buy_cus_name" required>
                                                                    <option value=""></option>
                                                                    {{#each acmast}}
                                                                    <option value="{{this.id}}">{{this.ac_name}}.................{{this.ac_city.city_name}}</option>
                                                                    {{/each}}
                                                                </select>
                                                                
                                                    </div>
                                                    
                                                </div>
                                                {{!-- end of form-group clearfix --}}
                                            </div>
                                           
                                            
                                          
                                        </div>
                                  
                                      <input type="checkbox" name="formfilter" value="qty_bal" id="qty_baldetails"
                                                        class="make-switch" data-on-text="Qty_Bal" data-handle-width="60px" data-off-text="Qty_Bal"
                                                        data-size="small" data-on-color="primary" margin-left="300sp"/>  
                                                      
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-action searchbtns clearfix">
                                                    <button type="submit" class="btn btn-success" name="filtersubmit"
                                                        id="salesorderdetailsubmit" value="submit">Show Result</button>
                                                    <button type="reset" class="btn btn-danger">Reset</button>
                                                </div>
                                            </div>
                                            {{!-- end of col --}}
                                        </div>
                                        {{!-- end of row --}}
                                </div>
                                </div>
                            </div>
                           
                            <div class="contract_detail_body"></div>
                            {{!-- end of showsearchdata --}}
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

<template id="saudatable">
    
            <table class="table table-striped table-bordered table-hover adsearch">
                <thead class="sddate" style="display:none">
                    <tr>
                        <th>Control</th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Buyer</th>
                        <th>Seller</th>
                        {{!-- <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Seller Broker</th>
                        <th>Buyer Broker</th> --}}
                    </tr>
                </thead>
                <thead class="brbrok" style="display:none">
                    <tr>
                        <th>Control</th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Seller</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Buyer</th>
                        <th>Buyer Broker</th>
                    </tr>
                </thead>
                <thead class="slbrok" style="display:none">
                    <tr>
                        <th>Control</th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Buyer</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Seller</th>
                        <th>Buyer Broker</th>
                    </tr>
                </thead>
                <thead class="sbbrok" style="display:none">
                    <tr>
                        <th>Control</th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Buyer</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Seller</th>
                        <th>Buyer Broker</th>
                    </tr>
                </thead>
                <thead class="bbbrok" style="display:none">
                    <tr>
                        <th>Control</th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Seller</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Buyer</th>
                        <th>Buyer Broker</th>
                    </tr>
                </thead>
                <tbody class="contract_detail_body">

                </tbody>
                <tfoot class="sddate" style="display:none">
                    <tr>
                        <th class="excludesearch"></th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Buyer</th>
                        <th>Seller</th>
                        {{!-- <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Seller Broker</th>
                        <th>Buyer Broker</th> --}}
                    </tr>
                </tfoot>
                <tfoot class="brbrok" style="display:none">
                    <tr>
                        <th class="excludesearch"></th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Seller</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Buyer</th>
                        <th>Buyer Broker</th>
                    </tr>
                </tfoot>
                <tfoot class="slbrok" style="display:none">
                    <tr>
                        <th class="excludesearch"></th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Buyer</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Seller</th>
                        <th>Buyer Broker</th>
                    </tr>
                </tfoot>
                <tfoot class="sbbrok" style="display:none">
                    <tr>
                        <th class="excludesearch"></th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Buyer</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Seller</th>
                        <th>Buyer Broker</th>
                    </tr>
                </tfoot>
                <tfoot class="bbbrok" style="display:none">
                    <tr>
                        <th class="excludesearch"></th>
                        <th>Date</th>
                        <th>Contract Nubmer</th>
                        <th>Seller</th>
                        <th>Seller Broker</th>
                        <th>Product</th>
                        <th>Bag</th>
                        <th>Pack</th>
                        <th>Wght</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Dispatch</th>
                        <th>Balance</th>
                        <th>Buyer</th>
                        <th>Buyer Broker</th>
                    </tr>
                </tfoot>
            </table>
</template>    

{{> footer_new}}
{{> scripts_new}}