{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat sdate 'DD/MM/YYYY'}} - {{dateformat edate
                'DD/MM/YYYY'}} {{usrnm}}
                                <small>

                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Security Rights
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-5">

                                    <div class="panel panel-primary">
                                        <div class="panel-heading" id="formheading">
                                            <span>Add</span> Group
                                        </div>
                                        <div class="panel-body">
                                            <form method="POST" action="/security_right/add" enctype="" id="security_add"
                                                class="validate">
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5">S.No</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" placeholder="SNO" name="sno" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5">Right Name:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control right_name" placeholder="Right Name" name="right_name" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5">Right Description:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control right_desc" placeholder="Right Description" name="right_desc" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5"></label>
                                                        <div class="col-md-7">
                                                            <button type="submit" name="save" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-primary cancelmaster"
                                                                data-form-ad-action="/expense/expense_add">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <form method="POST" action="/security_right/add" enctype="" id="edit_security"
                                                class="validate edit_security hiddenel">
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5">S.No</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" placeholder="SNO" name="sno" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5">Right Name:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control right_name" placeholder="Right Name" name="right_name" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5">Right Description:</label>
                                                        <div class="col-md-7">
                                                            <input class="form-control right_desc" placeholder="Right Description" name="right_desc" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group clearfix">
                                                        <label for="" class="control-label col-md-5"></label>
                                                        <div class="col-md-7">
                                                            <button type="submit" name="save" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-primary cancelmaster"
                                                                data-form-ad-action="/expense/expense_add">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">

                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Expense List
                                        </div>
                                        <div class="panel-body">
                                            {{!-- <div class="table-responsive"> --}}
                                                <table id="product_detail_table" class="product_detail_table table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Sno.</th>
                                                            <th>Right Name</th>
                                                            <th>Right Description</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each securityright as |value key|}}
                                                        <tr>
                                                            <td>{{sum @index 1}}</td>
                                                            <td>{{this.right_name}}</td>
                                                            <td>{{this.right_desc}}</td>
                                                            <td>
                                                                <div class="btn-group dropdown">
                                                                    <button class="btn btn-xs blue dropdown-toggle"
                                                                        type="button" data-toggle="dropdown"
                                                                        aria-expanded="false"> Actions
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="edit_security_btn"
                                                                                data-id="{{this._id}}">
                                                                                <i class="icon-pencil"></i> Edit </a>
                                                                        </li>
                                                                        <li class="divider"> </li>
                                                                        <li>
                                                                            <a href="javascript:void(0);" class="delete-security"
                                                                                data-id="{{this._id}}">
                                                                                <i class="icon-trash"></i> Delete
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{/each}}

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Sno.</th>
                                                            <th>Right Name</th>
                                                            <th>Right Description</th>
                                                            <th class="excludesearch"></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            {{!-- </div> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
{{> footer_new}}
{{> scripts_new}}