{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}
<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
               <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                      Edit WIP Entry
                                        </div>
                                        <form method="POST" action="/WIP_entry/update/{{somast._id}}" class="" novalidate
                                            enctype="" id="contract_sauda">
                                           <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-sm-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Entry No: </label>
                                                            <div class="col-md-5">
                                                                <select  name="c_j_s_p" id="c_j_s_p"  class="form-control  prbank select2" required
                                                                    placeholder="Please Select" style="text-align: -webkit-left;"> 
                                                                    {{!-- {{#ifCond somast.c_j_s_p 'WIP'}}
                                                                    <option value="WIP" selected>WIP</option>
                                                                    {{/ifCond}}
                                                                    {{#ifCondNot somast.c_j_s_p 'WIP'}}
                                                                    <option value="WIP">WIP</option>
                                                                    {{/ifCondNot}}
                                                                    {{#ifCond somast.c_j_s_p 'FG'}} --}}
                                                                    <option value="FG">FG</option>
                                                                    {{!-- {{/ifCond}}
                                                                    {{#ifCondNot somast.c_j_s_p 'FG'}}
                                                                    <option value="FG">FG</option>
                                                                    {{/ifCondNot}} --}}
                                                                </select>
                                                            </div>
                                                             <div class="col-md-5">
                                                                <input type="number" name="vouc_code" placeholder="Plan Number" style="text-align: left"
                                                                value="{{somast.vouc_code}}"  class="form-control plan_no" autofocus required/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-md-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Entry Date: </label>
                                                             <div class="col-md-9">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control so_date datemask"
                                                                        name="so_date" id="offerstartdate" value="{{dateformat somast.so_date 'DD/MM/YYYY'}}"
                                                                        autocomplete="off" tabindex="3" required />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle isprop"
                                                                            type="button" id="offerstartdatebtn"
                                                                            tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                             
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    <div class="col-sm-12 col-sm-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-2 control-label">Production Dept: </label>
                                                            <div class="col-md-10">
                                                                <select  name="production_dept" id="production_dept"  class="form-control  prbank select2" required
                                                                    placeholder="Please Select" style="text-align: -webkit-left;"> 
                                                                    <option value=""></option>
                                                                    {{#each production_dept}}
                                                                    <option value="{{this.id}}" {{#equal ../somast.production_dept id}} selected=""{{/equal}}>{{this.Description}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>      
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-sm-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                             <div class="col-md-9">
                                                               <input type="text" name="buy_rmks" id="buy_rmks" class="form-control" value="{{somast.buy_rmks}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                                    {{!-- end of col --}}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table worksheet_repeat_row">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 15em">Plan No</th>
                                                                        <th>FG Name</th>
                                                                        <th>WIP Name</th>
                                                                        <th style="width: 15em">Qty</th>
                                                                        <th style="width: 5em">Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each somast.sales_or_group as |value key|}}
                                                                    <tr class="salesorder_row-{{@index}}" id="rohit{{@index}}">
                                                                        <td>
                                                                            <input type="number" name="sales_or_group[{{@index}}][plan_no]"
                                                                                id="plan_no{{@index}}"  oninput='calPlan({{@index}})' 
                                                                                class="form-control  sales_or_group[{{@index}}][so_qty] addReq" style="text-align: -webkit-right;"value="{{this.plan_no}}"/>
                                                                        </td>           
                                                                        <td>
                                                                             <input type="hidden" name="buyrn" value="{{@index}}" id="buyrn{{@index}}" oninput='calPlan({{@index}})'
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;">
                                                                            
                                                                           <select  name="sales_or_group[{{@index}}][so_disc]" id="descpso{{@index}}" class="form-control  prbank select2" 
                                                                             placeholder="Select Product"  style="text-align: -webkit-right; width: 100%"> 
                                                                            <option value=""></option>
                                                                            {{#each ../product}}
                                                                                <option value="{{this.id}}"data-serialnum="{{this._id}}"{{#equal ../this.so_disc id}} selected=""
                                                                                    {{/equal}}>{{this.Fg_Des}}</option>
                                                                                {{/each}}
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <select  name="sales_or_group[{{@index}}][WIP_name]" id="WIP_name{{@index}}" class="form-control prbank select2" 
                                                                            placeholder="Select Product"  style="text-align: -webkit-right; width: 100%"> 
                                                                            <option value=""></option>
                                                                                {{#each ../WIP_mast}}
                                                                                <option value="{{this.id}}"data-serialnum="{{this._id}}"{{#equal ../this.WIP_name id}} selected=""
                                                                                    {{/equal}}>{{this.Fg_Des}}</option>
                                                                                {{/each}}
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" name="sales_or_group[{{@index}}][so_qty]" id="so_qty{{@index}}"  oninput='calPlan({{@index}})' 
                                                                            class="form-control  sales_or_group[{{@index}}][so_qty] addReq" style="text-align: -webkit-right;"value="{{this.so_qty}}"/>
                                                                            <input type="hidden" name="sales_or_group[{{@index}}][plan_id]" id="plan_id{{@index}}" value="{{this.plan_id}}">
                                                                            <input type="hidden" name="sales_or_group[{{@index}}][plan_grp_id]" id="plan_grp_id{{@index}}" value="{{this.plan_grp_id}}">
                                                                        </td>
                                                                       <td> {{#notequal @index 0}}
                                                                            <a  data-repeater-delete="inner-field-{{@index}}-{{@index}}"  data-brand-index="{{@index}}" class="salesorder_delete_btn"  style='cursor:pointer;'>
                                                                                <i class='fa fa-times' style='font-size: 20px;color: red;margin-left:12px;'></i>
                                                                                </a>
                                                                                {{/notequal}}
                                                                            </td>
                                                                    </tr>
                                                                    {{/each}}
                                                                        <tr id="contract_div_po">
                                                                                <th>Total</th>
                                                                                <th></th>
                                                                                <th></th>
                                                                                <td> <input type="text" name="tot_sooq" id="tot_sooq"
                                                                                placeholder="Total" class="form-control tot_sooq" oninput='calsalesorder(1)' style="text-align: -webkit-right;" value="{{somast.tot_sooq}}"
                                                                                readonly  tabindex="-1"></td>
                                                                        </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-12">
                                                      <button type="button" class="btn btn-primary addWIPEntry center-block nofocus" id="add">Add Item</button>  
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div> 
                                            <div class="panel-footer">
                                                <div class="action clearfix">
                                                    <div class="col-md-12" align="center">
                                                        <div >
                                                            <button type="submit" name="save" class="btn btn-success WIPSave">Submit</button>
                                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                                            <a href="/WIP_entry/WIP_entrylist" class="btn btn-info" style="margin-top: 1.5em">Back</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
               </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>


{{!-- Party Modal --}}


{{> footer_new}}
{{> scripts_new}}