{{> header_new}}
{{> top_bar_new}}
{{> menu_new}}


<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{compnm}} -{{divnm}}- {{dateformat  sdate 'DD/MM/YYYY'}} - {{dateformat edate
                                'DD/MM/YYYY'}} {{usrnm}}
                                <small>
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                    <ul class="page-breadcrumb breadcrumb pull-right">
                                        <li>
                                            <a href="/userright/index">Home</a>
                                            <i class="fa fa-circle"></i>
                                        </li>
                                        <li>
                                            Party List
                                        </li>
                                    </ul>
                                    <!-- END PAGE BREADCRUMBS -->
                                </small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
               <div class="page-content">
                    <div class="container-fluid">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{#if err}}
                                    <div class="alert alert-danger">
                                        <strong>{{err}}</strong>
                                    </div>
                                    {{/if}}
                                    {{#if errors}}
                                    <div class="alert alert-danger">
                                        <strong>{{errors}}</strong>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            {{!-- end of alerts row --}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                        WorkSheet Entry
                                        </div>
                                        <form method="POST" action="/worksheet_entry/add" class="" novalidate
                                            enctype="" id="contract_sauda">
                                           <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">

                                                            <label class="col-sm-3 control-label">WorkSheet No.: </label>
                                                            <div class="col-md-5">
                                                                <input name="ws_no" placeholder="WorkSheet No"  class="form-control ws_no" tabindex="1"
                                                                value="WS" />
                                                            </div>
                                                             <div class="col-md-4">
                                                                <input type="text" name="vouc_code" checked placeholder="Deal Number"
                                                                  id="work_vouc"   value="{{maxno workmast}}" class="form-control vouc_code"
                                                                    tabindex="2"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">

                                                            <label class="col-sm-3 control-label">WorkSheet Date: </label>
                                                            <div class="col-md-4">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control datemask"
                                                                        name="work_sheetdt" id="offerstartdate" value="{{dateformat Date.now 'DD/MM/YYYY'}}"
                                                                        autocomplete="off" tabindex="3" autofocus />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn default date-range-toggle isprop"
                                                                            type="button" id="offerstartdatebtn"
                                                                            tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                    {{!-- end of col --}}                                                    
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group clearfix">
                                                           <label class="control-label col-md-3">Customer Name</label>
                                                            <div class="col-md-9">
                                                                <div class="input-group select2-bootstrap-prepend">
                                                                    
                                                                <select class="form-control prbank ws_cus_name select2" name="ws_cus_name" style="justify-content:space-between;"
                                                                    placeholder="Please Select customer">
                                                                    <option value="">Select Customer</option>
                                                                    {{#each acmast}}
                                                                    <option value="{{this.id}}"  justify-content="space-around">{{this.ac_name}}.................{{this.ac_city.city_name}}</option> 
                                                                    {{/each}}
                                                                </select>
                                                                     {{!-- {{#listbsrt party 'B' 'br_code' 'brcont'}}
                                                                    {{this.party_name}},{{this.city_name.city_name}}
                                                                    {{/listbsrt}} --}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" placeholder="remarks" name="w_rmks" id="remarks" class="form-control">
                                                            </div>
                                                    </div>
                                                    </div>
                                                    <div class="col-sm-12 col-md-7">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">P.O Number: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" placeholder="PO NO"name="pono" id="pono" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">P.O Date: </label>
                                                            <div class="col-md-9">
                                                                <input type="text" name="podt" id="podt" class="form-control datemask"
                                                                    value="{{dateformat Date.now 'DD/MM/YYYY'}}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     <div class="col-sm-12 col-md-7">
                                                        <div class="form-group form-md-line-input clearfix">
                                                          <label class="col-sm-3 control-label">Dollar price: </label>
                                                            <div class="col-md-3">
                                                                 <input type="text" name="w_doller"
                                                                                id="wdoller" oninput='calc(1)'placeholder="Dollar price"
                                                                                class="form-control "
                                                                                />
                                                            </div>
                                                              <label class="col-sm-3 control-label">Market price: </label>
                                                               <div class="col-md-3">
                                                                 <input type="text" name="market_price"
                                                                                id="wmrkprice" oninput='calc(1)'placeholder="Market price"
                                                                                class="form-control "
                                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                      <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Total freight: </label>
                                                            <div class="col-md-9">
                                                                 <input type="text" name="w_totaFr"
                                                                                id="wtotaFr" oninput='calc(1)'placeholder="total freight"
                                                                                class="form-control" 
                                                                                />
                                                            </div>
                                                    </div>
                                                    </div>
                                                     <div class="col-sm-12 col-md-7">
                                                        <div class="form-group form-md-line-input clearfix">
                                                          <label class="col-sm-3 control-label">Overseas freight$: </label>
                                                            <div class="col-md-9">
                                                               <input type="text" name="w_overseasFPB"
                                                                                id="woverseasFPB" oninput='calc(1)'
                                                                                class="form-control" placeholder="Overseas freight$"
                                                                               />
                                                            </div>
                                                        </div>
                                                    </div>
                                                      <div class="col-sm-12 col-md-5">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Container cbm:</label>
                                                            <div class="col-md-9">
                                                                  <input type="text"oninput='calc(1)' placeholder="Container cbm" name="con_cbm" id="con_cbm" class="form-control con_cbm" value="65">
                                                            </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive adjustmentstable">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Product</th>
                                                                        <th>Innerqty</th>
                                                                        <th>PercartonCBM</th>
                                                                        <th>OrderQty</th>
                                                                        <th>Cost</th>
                                                                        <th>Profit%</th>
                                                                        <th>Profitamt</th>
                                                                        <th>Slpricers</th>
                                                                        <th>Sellingprice$</th>
                                                                       <th>ExPrice/CRTN$</th>
                                                                       <th>Totboxcontainer</th>
                                                                         <th>PerBoxINLDRs</th>
                                                                        <th>PerBoxINLD$</th>
                                                                        <th>Overseas$perbox</th>
                                                                        <th>Finalcost</th>
                                                                        <th>FOBAmount</th>
                                                                        <th>CNFAmount</th>
                                                                        <th>Total cbm</th>
                                                                        <th>Freight[cbm]</th>
                                                                          <th>Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                             <input type="hidden" name="cntr1" value="1" id="cntr1"
                                                                            class="form-control" style="width: 102px;text-align: -webkit-right;">
                                                                           <select  name="work_sheet_group[1][w_pname]"id="wpname1" onchange='getproduct(1)' class="form-control select2" style="width:162px"
                                                                             placeholder="Select Product"> 
                                                                            <option value=""></option>
                                                                            {{#each product}}
                                                                                <option value="{{this.id}}"data-serialnum="{{this._id}}">{{this.prdt_desc}}</option>
                                                                                {{/each}}
                                                                            </select>
                                                                        </td>
                                                                        <td id="innerqty1">
                                                                            <input type="text" name="work_sheet_group[1][in_qty]" id="inqty1" oninput='calc(1)'
                                                                                class="form-control" style="width: 142px;text-align: -webkit-right;"
                                                                                 />
                                                                        </td>
                                                                        <td id="cmblprt1">
                                                                            <input type="text" name="work_sheet_group[1][perc_cbm]"
                                                                                id="perccbm1"       oninput='calc(1)'
                                                                                class="form-control" style="width: 135px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td id="orqtytrtr1">
                                                                           <input type="text" name="work_sheet_group[1][or_qty]"
                                                                                id="orqty1" oninput='calc(1)'
                                                                                class="form-control" style="width: 92px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td id="wcostrtrt1">
                                                                             <input type="text" name="work_sheet_group[1][w_cost]"
                                                                                id="wcost1"  oninput='calc(1)'
                                                                                class="form-control" style="width: 87px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="work_sheet_group[1][w_profit]"
                                                                                id="wprofit1" oninput='calc(1)'
                                                                                class="form-control" value="10" style="width: 72px;text-align: -webkit-right;"
                                                                                >
                                                                        </td>
                                                                        <td>
                                                                             <input type="text" name="work_sheet_group[1][w_profitamt]"
                                                                                id="wprofitamt1" oninput='calc(1)'
                                                                                class="form-control" style="width: 92px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td>
                                                                             <input type="text" name="work_sheet_group[1][w_sellprice]"
                                                                                id="wsellprice1" oninput='calc(1)'
                                                                                class="form-control" style="width: 84px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td>
                                                                             <input type="text" name="work_sheet_group[1][w_sellpriceD]"
                                                                                id="wsellpriceD1" oninput='calc(1)'
                                                                                class="form-control" style="width: 115px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td>
                                                                             <input type="text" name="work_sheet_group[1][w_boxpricedoller]"
                                                                                id="boxpricedoller1" oninput='calc(1)'
                                                                                class="form-control" style="width: 129px;text-align: -webkit-right;"
                                                                                />
                                                                        </td>
                                                                        <td id="boxpercontainer1">
                                                                            <input type="text" name="work_sheet_group[1][w_boxperC]"
                                                                                id="wboxperC1" oninput='calc(1)'
                                                                                class="form-control" style="width: 142px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                        <td>
                                                                              <input type="text" name="work_sheet_group[1][w_boxperFR]"
                                                                                id="perbxfrghtrs1" oninput='calc(1)'
                                                                                class="form-control" style="width: 142px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="work_sheet_group[1][w_boxperFD]"
                                                                                id="wboxperFD1" oninput='calc(1)'
                                                                                class="form-control" style="width: 132px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                        <td>
                                                                             <input type="text" name="work_sheet_group[1][w_finalb]"
                                                                                id="wfinalb1" oninput='calc(1)'
                                                                                class="form-control" style="width: 152px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                        <td>
                                                                             <input type="text" name="work_sheet_group[1][w_finalc]"
                                                                                id="wfinalc1" oninput='calc(1)'
                                                                                class="form-control" style="width: 87px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="work_sheet_group[1][w_fobAmt]"
                                                                                id="wfobAmt1" oninput='calc(1)'
                                                                                class="form-control" style="width: 108px;text-align: -webkit-right;"
                                                                                required>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="work_sheet_group[1][w_cnfAmt]"
                                                                                id="wcnfAmt1" oninput='calc(1)'
                                                                                class="form-control focus" style="width: 112px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                          <td>
                                                                            <input type="text" name="work_sheet_group[1][tot_cbm]"
                                                                                id="totelcbm1" oninput='calc(1)'
                                                                                class="form-control" style="width: 102px;text-align: -webkit-right;"
                                                                                required>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="work_sheet_group[1][fr_cbm]"
                                                                                id="frcbm1" oninput='calc(1)'
                                                                                class="form-control  amountfocus" style="width: 112px;text-align: -webkit-right;"
                                                                                required/>
                                                                        </td>
                                                                        
                                                                    </tr>
                                                                    <tr id="contract_div">
                                                                            <th>Total</th>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td><input name="tot_order" id="tot_order"
                                                                            placeholder="Total order" class="form-control"style="text-align: -webkit-right;"
                                                                            readonly  tabindex="-1"></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td> <input type="text" name="tot_pamt" id="tot_pamt"
                                                                            placeholder="Total profitamt" class="form-control tot_pamt" style="text-align: -webkit-right;"
                                                                            readonly  tabindex="-1"></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td> <input type="text" name="tot_fobamt" id="tot_fobamt"
                                                                            placeholder="Total fobamt" class="form-control tot_fobamt"style="text-align: -webkit-right;"
                                                                            readonly  tabindex="-1"></td>
                                                                            <td> <input type="text" name="tot_cnfamt" id="tot_cnfamt"
                                                                            placeholder="Total cnfamt" class="form-control tot_cnfamt"style="text-align: -webkit-right;"
                                                                            readonly  tabindex="-1"></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-sm-12">
                                                      <button type="button" class="btn btn-primary addworksheet center-block nofocus" id="add">Add Product</button>  
                                                    </div>
                                                    {{!-- end of col --}}
                                                </div> 
                                                
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="form-group  form-md-line-input clearfix">
                                                            <label class="col-sm-3 control-label">Remarks: </label>
                                                            <div class="col-md-9">
                                                                <textarea name="party_remarks" id="party_remarks" class="form-control  delv_load "></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                            </div>
                                            <div class="panel-footer">
                                                <div class="action clearfix">
                                                    <div class="col-md-6">
                                                        <div class="col-md-9 col-md-push-3">
                                                            <button type="submit" name="save" id="contsubmit" class="btn btn-success">Submit</button>
                                                            <button type="reset" class="btn btn-danger">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
               </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>


{{!-- Party Modal --}}

<div class="modal fade" role="dialog" id="addparty">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Party</h4>
            </div>
            <form method="POST" action="/party/contractlink_add" enctype="">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label for="" class="col-md-3 control-label">Party Type<span class="required"
                                        aria-required="true">*</span></label>
                                <div class="col-sm-12 col-md-8">
                                    <div class="btn-group partymasterbuttons" role="group">
                                        <button class="btn btn-default" data-active="no"
                                            data-value="B" type="button">Buyer</button>
                                        <button class="btn btn-default" data-active="no" data-value="S"
                                            type="button">Seller</button>
                                        <button class="btn btn-default" data-active="no" data-value="R"
                                            type="button">Buyer
                                            Broker</button>
                                        <button class="btn btn-default" data-active="no" data-value="T"
                                            type="button">Seller
                                            Broker</button>
                                    </div>
                                    <input type="hidden" name="p_type[]" value="" id="bsrt" class=""
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">Party Name<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" required name="party_name" placeholder="Party Name"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">Address 1</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="address1" placeholder="Address 1"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">Address 2</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="address2" placeholder="Address 2"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">Area Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="area_name" placeholder="Area Name"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3 itsalink" data-toggle="modal" data-target="#addcity">City
                                    Name<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-9">
                                    <!-- city_name -->
                                    <select name="city_name" id="city_name" class="form-control city" required>
                                        <option value=""></option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">State Name<span class="required" aria-required="true">*</span></label>
                                <div class="col-md-9">
                                    <select name="state_name" id="state_name" placeholder="Please select state" class="form-control select2 state_name">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">Pin Code</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control digits" name="pin_code" placeholder="Pin Code"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">Credit Limit</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control digits" name="credit_limit" placeholder="Credit Limit"
                                        value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">PAN</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="pan_no" placeholder="PAN Number"
                                        value="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="form-group form-md-line-input clearfix">
                                <label class="control-label col-md-3">GSTIN</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="gstin" placeholder="GSTIN" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary save-partyp">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{{!-- City Modal --}}
<div class="modal fade" tabindex="-1" role="dialog" id="deliverysupport" data-backdrop="static">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Pending Delivery</h4>
        </div>
            <div class="modal-body">
                                            {{!-- table that hides and shows on select --}}
             <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group form-md-line-input clearfix">
                        <label class="col-md-3 control-label">Bill No:</label>
                        <div class="col-md-9">
                            <input type="text" name="bno" id="bno" class="form-control"
                                placeholder="Bill Number">
                        </div>
                    </div>
                </div>
                                                    {{!-- end of col --}}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group form-md-line-input clearfix">
                        <label class="col-sm-12 col-md-3 control-label">Date</label>
                        <div class="col-sm-12 col-md-9">
                            <div class="input-group" id="">
                                <input type="text" class="form-control datemask datep"
                                    name="bdt" id="bdt" value="{{dateformat Date.now 'DD/MM/YYYY'}}">
                                <span class="input-group-btn">
                                    <button class="btn default date-range-toggle nofocus"
                                        type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                                                    {{!-- end of col --}}
                <div class="col-sm-12 col-md-4">
                    <div class="form-group form-md-line-input clearfix">
                        <label class="col-md-3 control-label">Motor No</label>
                        <div class="col-md-9">
                            <input type="text" name="mot_no" id="mot_no" class="form-control"
                                placeholder="Motor Number">
                        </div>
                    </div>
                </div>
                                                    {{!-- end of col --}}
                </div>
                                                {{!-- end of row --}}
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group  form-md-line-input clearfix">
                            <label class="col-sm-3 control-label">Transport:</label>
                            <div class="col-md-9">
                                <select name="tptcode" id="tptcode" class="form-control select2">
                                    {{#each transport}}
                                    <option value="{{this._id}}">{{this.transport_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    {{!-- end of col --}}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="col-md-3 control-label">Collection:</label>
                            <div class="col-md-9">
                                <input type="text" name="tpt_col" id="tpt_col" class="form-control"
                                    placeholder="Collection">
                            </div>
                        </div>
                    </div>
                    {{!-- end of col --}}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="col-md-3 control-label">Freight:</label>
                            <div class="col-md-9">
                                <input type="text" name="frght" id="frght" oninput="calc()"
                                    class="form-control" placeholder="Freight">
                            </div>
                        </div>
                    </div>
                    {{!-- end of col --}}
                </div>
                                                {{!-- end of row --}}
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="col-md-3 control-label">Rate:</label>
                            <div class="col-md-9">
                                <input type="text" name="frght_rt" class="form-control"
                                    id="frght_rt" oninput="calc()" placeholder="Rate">
                            </div>
                        </div>
                    </div>
                    {{!-- end of col --}}
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="col-md-3 control-label">Advance:</label>
                            <div class="col-md-9">
                                <input type="text" name="frght_adv" class="form-control"
                                    id="frght_adv" oninput="calc()" placeholder="Advance">
                            </div>
                        </div>
                    </div>
                    {{!-- end of col --}}
                    
                    {{!-- end of col --}}
                </div>
                                            {{!-- end of row --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="delivery_contractsauda">Save changes</button>
            </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" role="dialog" id="addcity">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add City</h4>
            </div>
            <form method="POST" action="/party/city_add" enctype="">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="control-label col-md-3">City Name:</label>
                            <div class="col-md-9">
                                <input class="form-control city_name" required placeholder="City Name" name="city_name"
                                    type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="control-label col-md-3">District Name:</label>
                            <div class="col-md-9">
                                <select class="form-control dis_name select2" required name="dis_name" id="dis_name">
                                    <option>District Name</option>
                                    {{#each district_master}}
                                    <option value="{{this._id}}" data-dis_id="{{this.state_id}}">{{this.dis_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="control-label col-md-3">State Name:</label>
                            <div class="col-md-9 state_name_div">
                                <select class="form-control state_name select2" required name="state_name" id="state_name">
                                    {{#each state_master}}
                                    <option value="{{this.id}}">{{this.state_name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="control-label col-md-3">City Pincode:</label>
                            <div class="col-md-9">
                                <input class="form-control city_code" data-rule-minlength="6" data-rule-maxlength="6"
                                    placeholder="City Pincode" name="city_code" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-md-line-input clearfix">
                            <label class="control-label col-md-3">Std Code:</label>
                            <div class="col-md-9">
                                <input class="form-control city_std_code" data--rule-minlength="3" data-rule-maxlength="4"
                                    placeholder="Std Code" name="city_std_code" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of modal body --}}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success save-form">Save changes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{{> footer_new}}
{{> scripts_new}}